$fontPath: '../fonts/Frutiger/';

@font-face {
  font-family: 'Frutiger-Regular';
  src: url($fontPath+'Frutiger-Regular.ttf') format('truetype');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Frutiger-Bold';
  src: url($fontPath+'Frutiger-Regular.ttf') format('truetype');
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: 'Frutiger 45 Light-Regular';
  src: url($fontPath+'Frutiger45Light-Regular.ttf') format('truetype');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Frutiger 45 Light-Bold';
  src: url($fontPath+'Frutiger45Light-Bold.ttf') format('truetype');
  font-style: normal;
  font-stretch: normal;
}