#spaj-start {
  .general-text {
    @extend .standard-body;
    white-space: initial;
  }
  .checkbox input {
    &:checked {
      &:before, + .checkbox-icon:before {
        background: #DA291C;
        border-color: #DA291C;
      }
    }
    &:before {
      border-radius: 4px;
    }
  }
  .checkbox-icon:before {
    border-radius: 4px;
  }
  .item {
    border: none;
  }
  input[type='text'],
  input[type='number']
  {
    border-bottom:1px solid #DDD
  }

  .break-line{
    @extend .font-size-huge;
    padding: 0px 10rem;
    white-space: normal;

    @media screen and (max-width: 568px) {
      padding: 0px 2rem;
    }
  }

  .item.gray-block {
    border-top: solid 1px #EFECEC;
    border-bottom: solid 1px #EFECEC;
    background: #F7F5F5;
    margin: 3rem 0rem;
  }
  .value-btn {
    background: #F7F5F5;
    opacity: 1.00;
    border-radius: 2px;
    width: 100%;
    line-height: 100%;
    letter-spacing: -0.408px;
    color: rgba(73, 84, 93, 0.5);
    opacity: 1.00;
    &.selected {
      background-color: $dark-grey;
      color: #F7F5F5;
    }
  }
  .mini-center-container {
    text-align: left;
    margin: 0 auto;
    .policy-checkbox {
      display: inline-block;
      border: none;
      background: #F7F5F5;
    }
  }
  .other-policy-input {
    padding-left: 15px;
  }
  .mini-center-container.radio-block div {
    padding: 16px !important;
  }
  .before-proceed-3 {
    background-color: $dark-grey;;
    margin: 10px;
    margin-top: -5px;
    span {
      color: #EFECEC;
      opacity: 1;
      margin-bottom: 5px;
    }
    label, input {
      color: #EFECEC;
    }
    .md-input-container {
      margin-left: 20px;
      margin-top: 30px;
    }
  }
  .mt-30 {
    margin-top: 30px;
  }
  .pb-0 {
    padding-bottom: 0;
  }
  .container {
    margin-bottom: 80px;
  }
  .no-padding-top {
    padding-top: 0px;
  }
  .md-block{
    &+.message{
      margin-top:-30px;
      &.small-margin{
         margin-top:-10px;
      }
    }
  }
  
  .message{
    color: $pru_red; 
  }
  .other_option{
    margin-left:60px
  }
  .list .item .small-question{
    @extend .standard-body-small;
    white-space: normal;
    padding: 1.2rem;
  }

  .description{
    white-space: normal;
    @extend .font-size-big;
  }

  @media screen and (min-width: 568px) {
  .mini-center-container {
      width: 80%;
    }
  }
}




@media only screen and (min-width: 768px) {
  #health_question1 {
    .item_description {
      font-size: 20px !important;
      line-height: 26px !important;
    }
    h1 {
      font-size: 25px !important;
      line-height: 25px !important;
    }
  }
}

#upload-page .item {
  border: none;
}