/* ========================== CUSTOMIZE CSS ========================== */
html, body{
  @extend .standard-body;
  
  h1, h2, h3, h4, h5, h6{
    color: $main-font-color !important;
  }
}



body {
  color: #5b6770;
  input, label, option, select, textarea, md-select {
    @extend .standard-body;
  }
}

/* ========================== HEADER + FOOTER ========================== */

.card-container {
  margin: 20px 15px 100px;
}

.has-header {
  top: 55px !important;
}

.has-footer {
  bottom: 65px !important;
}

.bar.bar-header {
  height: 55px;
  border-color: #da291c !important;
  background-color: #da291c !important;
  background-image: linear-gradient(0deg, #da291c, #da291c 50%, transparent 50%) !important;
  color: #fff !important;
  padding: 5px 10px;
}
.backdrop{
  background-color: transparent !important
}
ion-footer-bar.bar.bar-assertive {
  background-color: #da291c !important;
}
.md-dialog-container md-dialog{
  width:100%; position: absolute; left: 0px; right:0px; bottom:0px; top:50px; max-width: 100%;
   max-height: 100%;
  border-radius: 0px;
  ._md-toolbar-transitions{
    background-color:#da291c;
    .md-toolbar-tools{
      color:#FFF ; text-align: center;
      h2{ color:#FFF !important; text-align: center; width: 100%}
      i{font-size:25px;}
    }
  }
  md-dialog-actions{
    background: #da291c;
    .md-button{color:#FFF}
  }
}
.bar {
  &.bar-header .title {
    //font-size: 25px !important;
    color: #fff !important;
    font-weight: normal;
    height: 55px;
    text-align: center !important;
  }
  button.back-button {
    margin-top: 11px;
    .icon:before {
      color: #fff;
    }
    .back-text {
      display: none;
    }
  }
  &.bar-footer {
    background-color: #DA291C;
    height: 64px;
  }
}

.bar-footer .button-clear {
  position: absolute;
  right: 10px;
  top: 15px;
}
.align_column{
  flex-direction: column;
}
.bar.bar-assertive.bar-footer.btn-disable {
  background: #9B9B9B !important;
  border: none !important;
}

.bar-footer {
  .btn {
    color: #fff;
    display: block;
    //font-size: 17px;
    line-height: 53px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    &._active{
      background: $pru_red
    }
    &:last-child{
      border-left:1px solid #FFF
    }
  }
  .wrapper {
    width: 100%;
    a {
      float: left;
      width: 50%;
    }
  }
  .devide {
    background-color: #b4251a;
    display: block;
    height: 100%;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 0;
  }
}

/* ========================== COMMON STYLE ========================== */

md-input-container:not(.md-input-has-value) input:not(:focus) {

  color: #CCC !important;
}

// md-input-container, md-input, md-select {
//   label {
//     color: $dark-grey !important;
//   }
// }


// input.md-input {
//   border-color: $dark-grey !important;
// }

// label.md-input-focused{
//   border-color: $dark-grey !important;
// }

label.item-stacked-label {
  //font-size: 17px;
}

.txt-large {
  color: #000;
  //font-size: 34px;
  line-height: 48px;
}

.item-input-no-label {
  border-bottom: 1px solid #efecec !important;
  //font-size: 34px !important;
  height: 80px !important;
  width: 100%;
}

.button-stable {
  color: #5d6972 !important;
}

input {
  width: 100%;
  border: none;
  &[type=range].custom-range {
    -webkit-appearance: none;
    width: 100%;
    margin: 10px 0;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      background: #efecec;
      border-radius: 0px;
      border: 0px solid rgba(0, 0, 0, 0);
    }
    &::-webkit-slider-thumb {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
      border: 0px solid rgba(0, 0, 0, 0);
      height: 22px;
      width: 26px;
      border-radius: 4px;
      background: #f8383f;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -10px;
    }
    &::-moz-range-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      background: #efecec;
      border-radius: 0px;
      border: 0px solid rgba(0, 0, 0, 0);
    }
    &::-moz-range-thumb {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
      border: 0px solid rgba(0, 0, 0, 0);
      height: 22px;
      width: 26px;
      border-radius: 4px;
      background: #f8383f;
      cursor: pointer;
    }
    &::-ms-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    &::-ms-fill-lower {
      background: #dfd9d9;
      border: 0px solid rgba(0, 0, 0, 0);
      border-radius: 0px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    }
    &::-ms-fill-upper {
      background: #efecec;
      border: 0px solid rgba(0, 0, 0, 0);
      border-radius: 0px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    }
    &::-ms-thumb {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
      border: 0px solid rgba(0, 0, 0, 0);
      height: 22px;
      width: 26px;
      border-radius: 4px;
      background: #f8383f;
      cursor: pointer;
      height: 2px;
    }
    &:focus {
      &::-ms-fill-lower {
        background: #efecec;
      }
      &::-ms-fill-upper {
        background: #ffffff;
      }
    }
  }
  line-height: normal;
  &[type="checkbox"], &[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
}

/*input[type=range].custom-range:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}*/

[type="radio"] {
  &:not(:checked), &:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }
  &:not(:checked) + label, &:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: block;
    height: 25px;
    line-height: 25px;
    //font-size: 17px;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &:not(:checked) + label {
    &:before, &:after {
      border: 2px solid #d2d2d2;
    }
  }
  &:checked + label:before {
    border: 2px solid transparent;
  }
  + label {
    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 3px;
      width: 17px;
      height: 17px;
      z-index: 0;
      transition: .28s ease;
    }
  }
  &:not(:checked) + label {
    &:before, &:after {
      border-radius: 50%;
    }
  }
  &:checked + label {
    &:before, &:after {
      border-radius: 50%;
    }
  }
  &.with-gap:checked + label {
    &:before, &:after {
      border-radius: 50%;
    }
  }
  &:checked + label:after {
    border: 6px solid #da291c;
  }
  &.with-gap:checked + label {
    &:before, &:after {
      border: 6px solid #da291c;
    }
  }
  &:checked + label:after, &.with-gap:checked + label:after {
    background-color: #fff;
  }
  &:checked + label:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
}

input[type="date"] {
  border-bottom: 10px solid #D8D8D8;
  padding-bottom: 4px;
  //font-size: 16px;
  color: #49545D;
}

.input-helper {
  padding: 5px 35px 10px;
}

.even-block {
  background: #F7F5F5;
}

select {
  width: 100%;
  display: block;
  padding-top: 2px;
  padding-left: 0;
  height: 34px;
  color: #111;
  line-height: 16px;
  border: none;
  background-color: #fff;
  //font-size: 17px;
}

.blur-text {
  color: #c2c2c2 !important;
}

/*style for tab menus*/

.tab-menu {
  @extend .tab-text;
  padding: 0px !important;
  .col {
    text-align: center;
    background: #F7F5F5;
    border-right: 1px solid #f0eded;
    border-left: 1px solid #f0eded;
    box-sizing: border-box;
    padding: 0px 5px;
    .d-table {
      height: 50px;
      display: table;
      text-align: center;
      width: 100%;
    }
    .d-table-cell {
      vertical-align: middle;
      display: table-cell;
    }
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
    &.active {
      border-bottom: 2px solid #da291c;
      border-right: 1px solid #f1d6d7;
      border-left: 1px solid #f1d6d7;
      color: #da291c;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

.no-lines {
  border: none !important;
}

.half-width-center {
  width: 50%;
  margin: 0 auto !important;
}

.custom-checkbox {
  .checkbox input {
    &:checked {
      &:before, + .checkbox-icon:before {
        background: #DA291C;
        border-color: #DA291C;
      }
    }
    &:before {
      border-radius: 4px;
    }
  }
  .checkbox-icon:before {
    border-radius: 4px;
  }
}

.sub-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  //font-size: 17px;
  line-height: 26 px;
  color: #212121;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.gray-btn {
  background-color: #5B6770;
  color: #979797;
}

.no-padding {
  padding: 0 !important;
}

.radio-btn-group {
  display: inline-block;
  margin-left: 40px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.full-height {
  height: 100%;
}

/*css for step header*/

#step-header {
  margin: auto;
  md-select {
    margin: 0px;
    background: transparent;
    border: none;
    text-align-last: right;
   span{
    color: white;
   }
    //font-size: 17px;
  }
  select option {
    background: none;
    color: black;
  }
  &.down-arrow:after {
    content: '⏷';
    color: white;
    margin-left: 5px;
  }
  &.up-arrow:after {
    content: '⏶';
    color: white;
    margin-left: 5px;
  }
}

/* ================ COMMON CSS ================ */



.description {
  padding: 20px;
  white-space: normal;
}

.item {
  input {
    &[type=search], &[type=text], &[type=password], &[type=datetime], &[type=datetime-local], &[type=date], &[type=month], &[type=time], &[type=week], &[type=number], &[type=email], &[type=url], &[type=tel], &[type=color] {
      //font-size: 17px;
    }
  }
  textarea {
    //font-size: 17px;
  }
  .input-label {
    width: 100%;
    //font-size: 17px;
    padding-bottom: 0px;
  }
  .button-block .button {
    //font-size: 17px;
    font-weight: 400;
  }
  .form_select {
    font-style: normal;
    font-weight: normal;
    //font-size: 17px;
    line-height: 100%;
    width: 100%;
    color: rgba(91, 103, 112, 0.5);
    padding: 5px;
    padding-left: 0;
    margin-top: 5px;
    margin-left: 0;
    background-color: #fff;
    border: none;
  }
  .item-note, .button, select {
    //font-size: 17px;
  }
}

.backdrop {
  background-color: transparent !important;
}

.popup-prudential {
  .option_other {
    margin-left: 50px;
    li {
      height: 50px;
      padding-top: 0px;
    }
    .item-checkbox{padding-left:10px;}
    input{border-bottom:1px solid #DDD}
  }
  &.popup-container {
    .popup {
      width: 100%;
      background-color: #FFF;
      background-color: #FFF;
      bottom: 0px;
      top: 50px;
      position: absolute;
      max-height: 100%;
    }
    .popup-head {
      background-color: #DA291C;
      color: #FFF;
      .popup-title {
        color: #FFF;
      }
    }
    .btn-popup-save {
      background-color: #DA291C;
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 60px;
    }
  }
  .btn-popup-back {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .btn-popup-close {
    position: absolute;
    top: 0px;
    right: 0;
    background: transparent;
    color: #fff;
    width: 50px;
    height: 40px;
    display: block;
    flex: inherit;
    margin: 0;
    min-height: initial;
    min-width: initial;
    padding: 0;
    line-height: 0;
  }
  .popup-buttons {
    padding: 0;
    button {
      border-radius: 0;
    }
  }
  .popup-head {
    background-color: #f7f5f5;
    border: none;
  }
  .popup-wrapper {
    padding: 10px;
  }
  .scroll-view.scroll-y {
    height: 300px;
  }
}
#health_question1 .message{
  color:$pru_red;
  &.space_top{
    margin-top:10px;
  }
}

@media only screen and (min-width: 768px) {
  .body, body *, label.item-stacked-label, body label, label.item, .item select, #step-header select {
    //font-size: 25px;
  }
  #eye-popup .popup-content .number {
    //font-size: 20px;
  }
  #health_question1 .message {
    //font-size: 17px; 
  }
  .description {
    //font-size: 25px;
    line-height: 30px;
  }
  .bar.bar-header .title, .bar-footer .btn {
    //font-size: 25px;
  }
  .tab-menu .col .d-table-cell {
    //font-size: 20px;
  }
  [type="radio"] {
    &:not(:checked) + label, &:checked + label {
      //font-size: 25px;
    }
  }
  .item {
    input {
      &[type=search], &[type=text], &[type=password], &[type=datetime], &[type=datetime-local], &[type=date], &[type=month], &[type=time], &[type=week], &[type=number], &[type=email], &[type=url], &[type=tel], &[type=color] {
        //font-size: 25px;
      }
    }
    textarea, .input-label, .button-block .button, .form_select, .item-note, .button, h1, h2, h3, h4, h5, h6 {
      //font-size: 25px;
    }
  }
  .popup-prudential {
    .item p, .title-cb, .add-more-btn {
      font-size: 25px !important;
    }
    .description{
      min-width: 300px; margin-bottom:10px !important;
    }
  }
 
 
}
h1 small, .h1 small {
  font-size: 17px;
}
h1.description{
  font-size: 22px!important;
  white-space: initial;
}
.error{
  color: #f00;
  white-space: initial;
}
.no-underline{
  .md-select-value{
    border-bottom-style: none;
  }
}
.button.button-dark{
      background-color: #5B6770;
/* ================ END COMMON CSS ================ */
/*overide styl of material */
md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-placeholder label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float){
  color: rgba(0,0,0,0.87)!important;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input,
md-input-container:not(.md-input-invalid).md-input-resized .md-input,
md-select:not([disabled]):focus .md-select-value{
  border-color: #D8D8D8!important;
  border-width: 0 0 1px 0;
}
md-select-menu.md-default-theme md-content md-option[selected],
md-select-menu md-content md-option[selected],
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
md-input-container:not(.md-input-invalid).md-input-focused label,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon,
md-input-container:not(.md-input-invalid).md-input-focused md-icon,
md-input-container.md-input-focused:not(.md-input-has-value) md-select.md-default-theme .md-select-value,
md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value,
md-input-container.md-input-focused:not(.md-input-has-value) md-select.md-default-theme .md-select-value.md-select-placeholder,
md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder{
  color: rgba(0,0,0,0.87)!important;
}