<ion-view cache-view="false">
  <ion-nav-title>
    <custom-header title='Amendment' step='7'></custom-header>
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div class="wrapper has-bottom-bar amendment-page mt-30">
      <form name="amendmentForm">
        <div class="list list-inset">
          <div class='item'>
            <div class="col col-padding">
              <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px">
                <label class='asterisk'>Amendment / Keterangan lain</label>
                <input name="amendment" ng-model="amendment" type="text" class="form-input" required ng-pattern="/^[0-9a-zA-Z]+$/" />
              </md-input-container>
              <div ng-show="amendmentForm.amendment.$touched && amendmentForm.amendment.$invalid" class="error sm-font">! Input salah, silakan masukkan huruf</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
  <ion-footer-bar ng-show="true" class="bar bar-footer bar-assertive">
    <a ng-click="vm.handleSubmit()" title="Continue" class="btn">Next<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </ion-footer-bar>
</ion-view>