<ion-view cache-view="false"  id="upload-page">
  <ion-nav-title>
    <custom-header title='Kelengkapan dokumen' step='6'></custom-header>
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div class="header-tab">
      <div class='row tab-menu'>
        <div class="col" ng-repeat="tab in vm.tabs" ng-class="vm.currentTab==tab.id? 'active': ''" ng-click="vm.switchTab(tab.id)">
          <span class="d-table"><span class="d-table-cell">{{ tab.name}}</span></span>
        </div>
      </div>
    </div>
    <div class="wrapper has-bottom-bar upload-document-page mt-30" ng-show="vm.tabs.length > 0">
      <form>
        <div class="list list-inset">
          <div class='item'>
            <h1 class="text-center description">Kami membutuhkan beberapa dokumen dalam mengajukan polis ini</h1>
            <div class="m-gap-30">
              <ul>
                <li class="clearfix" ng-repeat="item in vm.data[vm.currentTab]">
                  <div class="row row-no-padding">
                    <div class="col col-67 col-padding">
                      <md-input-container class="select-box md-block" md-no-float>
                        <label class="input-label">{{item.document_name}}</label>
                        <md-select ng-model="item.document_type">
                          <md-option ng-repeat="type in vm.documentType" value="{{type.value}}">
                            {{type.name}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div class="col col-33 col-padding">
                      <div class="img-options" ng-if="item.document_image != ''">
                        <button class="button button-stable" ><i class="ion-checkmark " ng-class="item.document_image!=''?'green-color':''"></i></button>
                        <button class="button button-stable" ng-click="vm.viewImage(item)"><i class="ion-eye"></i></button>
                        <button class="button button-stable" ng-click="vm.deleteImage(item)"><i class="ion-trash-b"></i></button>
                      </div>
                      <div class="document-upload-file" ng-if="item.document_image == ''">
                        <button class="button button-stable btn-upload-img button-block" ng-click="vm.takePhoto(item)">Ambil Foto</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="clearfix"></div>
              <button class="button button-stable button-block" ng-click="vm.addDocument()">+ Tambah Dokumen</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
  <ion-footer-bar ng-show="true" class="bar bar-footer bar-assertive">
    <a ng-click="vm.handleSubmit()" title="Continue" class="btn">Terus<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </ion-footer-bar>
</ion-view>