<ion-view cache-view="false"  id="upload-page">
  <ion-nav-title>
    <custom-header title='Kelengkapan dokumen' step='6'></custom-header>
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div class="header-tab">
      <div class='row tab-menu'>
        <div class="col" ng-repeat="tab in vm.tabs" ng-class="vm.currentTab==tab.value? 'active': ''" ng-click="vm.switchTab(tab.value)">
          <span class="d-table"><span class="d-table-cell">{{ tab.title}}</span></span>
        </div>
      </div>
    </div>

    <div class="wrapper has-bottom-bar upload-document-page mt-30">
      <form>
        <div class="list list-inset">
          <div class='item'>
            <h1 class="text-center  discription">Kami membutuhkan beberapa dokumen dalam mengajukan polis ini</h1>
            <div class="m-gap-30">
              <ul>
                <li class="clearfix" ng-repeat="item in vm.documents">
                  <div class="row row-no-padding">
                    <div class="col col-67 col-padding">
                      <md-input-container class="select-box md-block" md-no-float>
                        <label class="input-label">{{item.document_name}}</label>
                        <md-select  ng-model="item.document_type">           
                          <md-option ng-repeat="type in vm.documentType" value="{{type.value}}">
                            {{type.name}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div class="col col-33 col-padding">
                      <div class="document-upload-file">
                        <!--<input type="file" ng-model="item.document_image" ng-model-instant onchange="angular.element(this).scope().uploadFiles(this)">-->
                        <input type="file" ngf-select="uploadFiles($file, $invalidFiles, item)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                        <button class="button button-stable btn-upload-img">Ambil Foto</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
  <ion-footer-bar ng-show="true" class="bar bar-footer bar-assertive">
    <a ng-click="vm.handleSubmit()" title="Continue" class="btn">Terus<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </ion-footer-bar>
</ion-view>