<ion-view cache-view="false">
  <ion-nav-title>
    <custom-header title='Kelengkapan dokumen' step='6'></custom-header>
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div class="header-tab">
      <div class='row tab-menu'>
        <div class="col" ng-repeat="tab in vm.tabs" ng-class="vm.currentTab==tab.value? 'active': ''" ng-click="vm.switchTab(tab.value)">
          <span class="d-table"><span class="d-table-cell">{{ tab.title}}</span></span>
        </div>
      </div>
    </div>

    <div class="wrapper has-bottom-bar upload-document-page mt-30">
      <form>
        <h4 class="text-center text-header">Kami membutuhkan beberapa dokumen dalam mengajukan polis ini</h4>
        <div class="m-gap-30">
          <ul>
            <li class="clearfix" ng-repeat="item in vm.documents">
              <div class="col-padding"><span class="upload-document-name">{{item.document_name}}</span></div>
              <div class="row row-no-padding">
                <div class="col col-67 col-padding">
                  <select class="form-input" ng-model="item.document_type">
                    <option value="">Select</option>
                    <option ng-repeat="type in vm.documentType" value="{{type.value}}">{{type.name}}</option>
                  </select>
                </div>
                <div class="col col-33 col-padding">
                  <div class="document-upload-file">
                    <!--<input type="file" ng-model="item.document_image" ng-model-instant onchange="angular.element(this).scope().uploadFiles(this)">-->
                    <input type="file" ngf-select="uploadFiles($file, $invalidFiles, item)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                    <button class="button button-stable btn-upload-img">Ambil Foto</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </ion-content>
  <ion-footer-bar ng-show="true" class="bar bar-footer bar-assertive">
    <a href="#/app/step7" title="Continue" class="btn">Terus<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </ion-footer-bar>
</ion-view>