<ion-view cache-view="false" view-title="Acknowledgement" id="e-policy">
  <ion-content>
    <div class="container text-center">
      <div class="large-icon">
        <img src="../../../../img/final-step.png">
      </div>
      <div>
        <h1>Selamat!</h1>
        <p>Jika semua dokumen tersedia, Anda akan menerima e-policy Anda dalam waktu 1 hari kerja.</p>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-assertive no-padding no-lines">
    <a title="Continue" ng-click="vm.review()" class="btn gray-btn">Liat Ringkasan<button class="button button-clear"></button></a>
    <a title="Continue" ng-click="vm.nextPage()" class="btn">Email PDF<button class="button button-clear"></button></a>
  </div>
</ion-view>