<form id="policy_info_ph_info" name="insured" novalidate>
    <div class="list list-inset no-lines">
        <div class='item'>
            <div class="row-no-padding">
                <md-input-container class="md-block" flex-gt-sm>
                    <label class='asterisk'>Nama Lengkap</label>
                    <input ng-model='data.name'  />
                </md-input-container>
            </div>
        </div>
        <div class='item'>
            <div class="row row-no-padding responsive-sm">
                <div class="col">
                    <md-input-container class="md-block">
                        <label class="input-label asterisk">Tempat</label>
                        <md-select ng-model="data.address" >
                            <md-option value=""><em>None</em></md-option>
                            <md-option value="Red"><em>Red</em></md-option>
                            <md-option value="Green"><em>Green</em></md-option>
                            <md-option value="Blue"><em>Blue</em></md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class='asterisk'>Tanggal Lahir </label>
                        <md-datepicker ng-model="data.date_of_birth" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label asterisk">Jenis Kelamin</span></div>
              </label>
            </div>
            <div class="row">
                <div class="row indent_row responsive-sm">
                    <div class="col-50">
                        <button ng-class='data.gender==="PRIA"?"selected":""' ng-click='selectGender("PRIA")' class='button pru-btn'>PRIA</button>
                    </div>
                    <div class="col-50">
                        <button ng-class='data.gender==="WANITA"?"selected":""' ng-click='selectGender("WANITA")' class='button pru-btn'>WANITA</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block">
                <label class="input-label">Status Pernikahan</label>
                <md-select ng-model="data.occupation" required="">
                    <md-option value="None"><em>None</em></md-option>
                    <md-option value="Red"><em>Red</em></md-option>
                    <md-option value="Green"><em>Green</em></md-option>
                    <md-option value="Blue"><em>Blue</em></md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block">
                <label class="input-label">Agama</label>
                <md-select ng-model="data.agama">
                    <md-option value="None"><em>None</em></md-option>
                    <md-option value="Red"><em>Red</em></md-option>
                    <md-option value="Green"><em>Green</em></md-option>
                    <md-option value="Blue"><em>Blue</em></md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-autocomplete
                md-selected-item="selectedItem"
                md-search-text="searchText"
                md-items="item in querySearch(searchText)"
                md-item-text="item.name"
                md-min-length="0"
                md-floating-label="Negara Kelahiran">
                <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                    No countries were found.
                </md-not-found>
            </md-autocomplete>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block">
                <label class="input-label">Kewarganegaraan </label>
                <md-select ng-model="data.kewarganegaraan" >
                    <md-option value="None"><em>None</em></md-option>
                    <md-option value="Red"><em>Red</em></md-option>
                    <md-option value="Green"><em>Green</em></md-option>
                    <md-option value="Blue"><em>Blue</em></md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label class='asterisk'>No Identitas </label>
                <input ng-model='data.identitas' >
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Kadaluwarsa</div>
              </label>
            </div>
            <div class="row">
                <div class="row indent_row responsive-sm">
                    <div class="col-50">
                        <input id='{{insuredName}}-seumurHidup' class='custom_radio' type="radio" name='kadaluwarasa' />
                        <label class='' for="{{insuredName}}-seumurHidup">Seumur hidup</label>
                    </div>
                    <div class="col-50">
                        <input id='{{insuredName}}-tidak' class='custom_radio' type="radio" name='kadaluwarasa' />
                        <label class='' for="{{insuredName}}-tidak">Tidak</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Tanggal Kadalauwarsa</div>
              </label>
            </div>
            <div class="row left_input_date input_full_width">
                <input type="date" placeholder="Enter">
                <span class="icon-calendar">
                <i class="icon ion-android-calendar"></i>
              </span>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <span class="input-label asterisk">Status Pajak</span>
              </label>
            </div>
            <div class="row responsive-sm">
                <div class="col-33">
                    <ion-checkbox>Wajib Pajak Indonesia</ion-checkbox>
                </div>
                <div class="col-33">
                    <ion-checkbox>Pembayar pajak AS</ion-checkbox>
                </div>
                <div class="col-33">
                    <ion-checkbox>Lainya</ion-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label class='asterisk'>No NPWP </label>
                <input ng-model='data.npwp' >
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Nama Perusahaan Tempat Bekerja</label>
                <input ng-model='data.npwp'>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label class='asterisk'>Alamat Kantor</label>
                <input ng-model='data.alamat_kantor' >
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Alamat Tempat Tinggal</div>
              </label>
            </div>
            <div class="row">
                <div class="row indent_row responsive-sm">
                    <div class="col-50">
                        <input name='alamattempattinggal' id='{{insuredName}}-alamatIndonesia' class='custom_radio' type="radio" />
                        <label for="{{insuredName}}-alamatIndonesia">Indonesia</label>
                    </div>
                    <div class="col-50">
                        <input name='alamattempattinggal' id='{{insuredName}}-alamatDiluarIndonesia' class='custom_radio' type="radio" />
                        <label for="{{insuredName}}-alamatDiluarIndonesia">Diluar Indonesia</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label class='asterisk'>Alamat</label>
                <input ng-model='data.alamat' >
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row responsive-sm">
                <div class="col-50">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Kode Pos</label>
                        <input ng-model='data.kodepos'>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row responsive-sm">
                <div class="col-50">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class='asterisk'>Provinsi</label>
                        <input ng-model='data.provinsi' >
                    </md-input-container>
                </div>
                <div class="col-50">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class='asterisk'>Kabupaten / Kota </label>
                        <input ng-model='data.kabupaten' >
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
     <div class='item'>
        <div class="row-no-padding">
            <div class="row responsive-sm">
                <div class="col-50">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Kecamata</label>
                        <input ng-model='data.kecamata'>
                    </md-input-container>
                </div>
                <div class="col-50">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Kelurahan</label>
                        <input ng-model='data.kelurahan'>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row responsive-sm">
                <div class="col-33">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>RT</label>
                        <input ng-model='data.RT'>
                    </md-input-container>
                </div>
                <div class="col-33">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>RW</label>
                        <input ng-model='data.RW'>
                    </md-input-container>
                </div>
                <div class="col-33">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>KM</label>
                        <input ng-model='data.KM'>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
   
    
    <div class='item' ng-repeat="(index, row) in vm.insuredData.address">
        <div class="row-no-padding">
            <div class="row responsive-sm">
                <div class="col-33">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class='asterisk'>No.Tel.Rumah </label>
                        <input type="tel" ng-model='vm.insuredData.address[index].rumah_tel' ng-model='contact.tel.home' >
                    </md-input-container>
                </div>
                <div class="col-33">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>No.Tel.Kantor</label>
                        <input type="tel" ng-model='vm.insuredData.address[index].kantor_tel' ng-model='contact.tel.office'>
                    </md-input-container>
                </div>
                <div class="col-33">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class='asterisk'>No. HP /GSM </label>
                        <input type="tel" ng-model='vm.insuredData.address[index].hp_gsm_tel' ng-model='contact.tel.gsm' >
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row-no-padding">
            <div class="row">
                <div class="button-block add_icon" ng-click='vm.addInsuredAddress()'>
                    <a class="button"><i class="icon ion-ios-plus-empty"></i> <span>Tampah Kontak</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label asterisk">Alamat Surat Menyurat</div>
              </label>
            </div>
            <div class="row">
                <div class="row indent_row responsive-sm">
                    <div class="col-33">
                        <input name='alamatSuratMenyurat' id='{{insuredName}}-alamatTempatTingal' class='custom_radio' type="radio" ng-click="changeAddress('Alamat Tempat Tingal')" />
                        <label class='' for="{{insuredName}}-alamatTempatTingal">Alamat Tempat Tingal</label>
                    </div>
                    <div class="col-33">
                        <input name='alamatSuratMenyurat' id='{{insuredName}}-alamatKantor' class='custom_radio' type="radio" ng-click="changeAddress('Alamat Kantor')" />
                        <label class='' for="{{insuredName}}-alamatKantor">Alamat Kantor</label>
                    </div>
                    <div class="col-33">
                        <input name='alamatSuratMenyurat' id='{{insuredName}}-alamatLain' ng-click="changeAddress('Alamat Lain')" class='custom_radio' type="radio" />
                        <label class='' for="{{insuredName}}-alamatLain">Alamat Lain</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding" ng-if="showAddress">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Address </label>
                <input type="text" ng-model='data.address'>
            </md-input-container>
        </div>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input type="email" ng-model='data.email'>
            </md-input-container>
        </div>
    </div>
</form>