<form id="policy_info_ph_info" name="insured" novalidate>
    <div class="list list-inset no-lines">
        <div class='item'>
            <div class="row-no-padding">
                <md-input-container class="md-block" flex-gt-sm>
                    <label class='asterisk'>Nama Lengkap</label>
                    <input ng-model='data.name' name="name" ng-pattern="/^[a-zA-Z\s]*$/" required/>
                    <div ng-messages="insured.name.$error" role="alert" ng-show="insured.name.$touched">
                        <div ng-show="insured.name.$error.required">Pertanyaan ini wajib diisi</div>
                        <div ng-show="insured.name.$error.pattern">! Input salah, silakan masukkan huruf</div>
                    </div>
                </md-input-container>
            </div>
        </div>
        <div class='item'>
            <div class="row row-no-padding responsive-sm">
                <div class="col">
                    <md-input-container class="md-block">
                        <label class="input-label asterisk">Tempat</label>
                        <md-select ng-model="data.address" name="address" required>
                            <md-option ng-repeat="birthplace in vm.birthplaces" value="{{birthplace.code}}"><em>{{birthplace.name}}</em></md-option>
                        </md-select>
                        <div ng-messages="insured.address.$error" ng-show="insured.address.$touched">
                            <div ng-show="insured.address.$error.required">Pertanyaan ini wajib diisi</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="col">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class='asterisk'>Tanggal Lahir </label>
                        <md-datepicker ng-model="data.date_of_birth" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label asterisk">Jenis Kelamin</span></div>
              </label>
            </div>
            <div class="row">
                <div class="row indent_row responsive-sm">
                    <div class="col-50">
                        <button ng-class='data.gender==="PRIA"?"selected":""' ng-click='selectGender("PRIA")' class='button pru-btn'>PRIA</button>
                    </div>
                    <div class="col-50">
                        <button ng-class='data.gender==="WANITA"?"selected":""' ng-click='selectGender("WANITA")' class='button pru-btn'>WANITA</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block">
                <label class="input-label">Status Pernikahan</label>
                <md-select ng-model="data.occupation" name="occupation" required>
                    <md-option value="Belum Menikah"><em>Belum Menikah</em></md-option>
                    <md-option value="Menikah"><em>Menikah</em></md-option>
                    <md-option value="Duda"><em>Duda</em></md-option>
                    <md-option value="Janda"><em>Janda</em></md-option>
                </md-select>
                <div ng-messages="insured.occupation.$error" ng-show="insured.occupation.$touched">
                    <div ng-show="insured.occupation.$error.required">Pertanyaan ini wajib diisi</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block">
                <label class="input-label">Agama</label>
                <md-select ng-model="data.agama" name="agama" required>
                    <md-option value="Islam"><em>Islam</em></md-option>
                    <md-option value="Kristen"><em>Kristen</em></md-option>
                    <md-option value="Katolik"><em>Katolik</em></md-option>
                    <md-option value="Hindu"><em>Hindu</em></md-option>
                    <md-option value="Budha"><em>Budha</em></md-option>
                    <md-option value="Lainnya"><em>Lainnya</em></md-option>
                </md-select>
                <div ng-messages="insured.agama.$error" ng-show="insured.agama.$touched">
                    <div ng-show="insured.agama.$error.required">Pertanyaan ini wajib diisi</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block">
                <label class="input-label">Negara Kelahiran </label>
                <md-select ng-model="data.negaraKelahiran">
                    <md-option value="indo" selected><em>Indonesia</em></md-option>
                    <md-option value="lainnya"><em>Lainnya</em></md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block">
                <label class="input-label">Kewarganegaraan </label>
                <md-select ng-model="data.kewarganegaraan">
                    <md-option value="indo" selected><em>Indonesia</em></md-option>
                    <md-option value="lainnya"><em>Lainnya</em></md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label class='asterisk'>No Identitas </label>
                <input ng-model='data.identitas' name="identitas" ng-pattern="/^[0-9]*$/" required>
                <div ng-messages="insured.identitas.$error" ng-show="insured.identitas.$touched">
                    <div ng-show="insured.identitas.$error.required">Pertanyaan ini wajib diisi</div>
                    <div ng-show="insured.identitas.$error.pattern">! Input salah, silakan masukkan angka</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Kadaluwarsa</div>
              </label>
            </div>
            <div class="row">
                <div class="row indent_row responsive-sm">
                    <div class="col-50">
                        <input id='{{insuredName}}-seumurHidup' class='custom_radio' value="lifetime" ng-model="data.expires" type="radio" name='kadaluwarasa'
                        />
                        <label class='' for="{{insuredName}}-seumurHidup">Seumur hidup</label>
                    </div>
                    <div class="col-50">
                        <input id='{{insuredName}}-tidak' class='custom_radio' value="limited" ng-model="data.expires" type="radio" name='kadaluwarasa'
                        />
                        <label class='' for="{{insuredName}}-tidak">Tidak</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='item' ng-show="data.expires === 'limited'">
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Tanggal Kadalauwarsa</div>
              </label>
            </div>
            <div class="row left_input_date input_full_width">
                <md-datepicker ng-model="" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <span class="input-label asterisk">Status Pajak</span>
              </label>
            </div>
            <div class="row responsive-sm">
                <div class="col-33">
                    <ion-checkbox ng-model="data.taxstatus.indo" value="indo">Wajib Pajak Indonesia</ion-checkbox>
                </div>
                <div class="col-33">
                    <ion-checkbox ng-model="data.taxstatus.usa" value="usa">Pembayar pajak AS</ion-checkbox>
                </div>
                <div class="col-33">
                    <ion-checkbox ng-model="data.taxstatus.other" value="other">Lainnya</ion-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="item" ng-show="data.taxstatus.other === true">
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Enter </label>
                <input type="text" ng-model=''>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label class='asterisk'>No NPWP </label>
                <input ng-model='data.npwp' name="npwp" ng-pattern="/^[0-9]*$/" required>
                <div ng-messages="insured.npwp.$error" ng-show="insured.npwp.$touched">
                    <div ng-show="insured.npwp.$error.required">Pertanyaan ini wajib diisi</div>
                    <div ng-show="insured.npwp.$error.pattern">! Input salah, silakan masukkan angka</div>
                </div>
            </md-input-container>

        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Nama Perusahaan Tempat Bekerja</label>
                <input ng-model='data.comName' name="comName" ng-pattern="/^[a-zA-Z0-9]*$/">
                <div ng-messages="insured.comName.$error" role="alert" ng-show="insured.comName.$touched">
                    <div ng-show="insured.comName.$error.pattern">! Input salah, silakan masukkan angka/ huruf</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label class='asterisk'>Alamat Kantor</label>
                <input ng-model='data.comAddress' name="comAddress" ng-pattern="/^[a-zA-Z0-9]*$/">
                <div ng-messages="insured.comAddress.$error" role="alert" ng-show="insured.comAddress.$touched">
                    <div ng-show="insured.comAddress.$error.pattern">! Input salah, silakan masukkan angka/ huruf</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Alamat Tempat Tinggal</div>
              </label>
            </div>
            <div class="row">
                <div class="row indent_row responsive-sm">
                    <div class="col-50">
                        <input name='alamattempattinggal' id='{{insuredName}}-alamatIndonesia' class='custom_radio' type="radio" />
                        <label for="{{insuredName}}-alamatIndonesia">Indonesia</label>
                    </div>
                    <div class="col-50">
                        <input name='alamattempattinggal' id='{{insuredName}}-alamatDiluarIndonesia' class='custom_radio' type="radio" />
                        <label for="{{insuredName}}-alamatDiluarIndonesia">Diluar Indonesia</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label class='asterisk'>Alamat</label>
                <input ng-model='data.alamat' name="alamat" ng-pattern="/^[a-zA-Z0-9]*$/" required>
                <div ng-messages="insured.alamat.$error" role="alert" ng-show="insured.alamat.$touched">
                    <div ng-show="insured.alamat.$error.required">Pertanyaan ini wajib diisi</div>
                    <div ng-show="insured.alamat.$error.pattern">! Input salah, silakan masukkan angka/ huruf</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row responsive-sm">
                <div class="col-50">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Kode Pos</label>
                        <input type="number" ng-model='data.kodepos' name="kodepos">
                        <div ng-messages="insured.kodepos.$invalid" ng-show="insured.kodepos.$dirty">
                            <div ng-show="insured.kodepos.$invalid">! Input salah, silakan masukkan angka</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row responsive-sm">
                <div class="col-50">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class='asterisk'>Provinsi</label>
                        <input ng-model='data.provinsi' name="provinsi" ng-pattern="/^[a-zA-Z]*$/" required>
                        <div ng-messages="insured.provinsi.$error" role="alert" ng-show="insured.provinsi.$touched">
                            <div ng-show="insured.provinsi.$error.required">Pertanyaan ini wajib diisi</div>
                            <div ng-show="insured.provinsi.$error.pattern">! Input salah, silakan masukkan huruf</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-50">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class='asterisk'>Kabupaten / Kota </label>
                        <input ng-model='data.kabupaten' name="kabupaten" ng-pattern="/^[a-zA-Z]*$/" required>
                        <div ng-messages="insured.kabupaten.$error" role="alert" ng-show="insured.kabupaten.$touched">
                            <div ng-show="insured.kabupaten.$error.required">Pertanyaan ini wajib diisi</div>
                            <div ng-show="insured.kabupaten.$error.pattern">! Input salah, silakan masukkan huruf</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row responsive-sm">
                <div class="col-50">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Kecamatan</label>
                        <input ng-model='data.kecamata' name="kecamata" ng-pattern="/^[a-zA-Z]*$/">
                        <div ng-messages="insured.kecamata.$error" role="alert" ng-show="insured.kecamata.$touched">
                            <div ng-show="insured.kecamata.$error.pattern">! Input salah, silakan masukkan huruf</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-50">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Kelurahan</label>
                        <input ng-model='data.kelurahan' name="kelurahan" ng-pattern="/^[a-zA-Z]*$/">
                        <div ng-messages="insured.kelurahan.$error" role="alert" ng-show="insured.kelurahan.$touched">
                            <div ng-show="insured.kelurahan.$error.pattern">! Input salah, silakan masukkan huruf</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row responsive-sm">
                <div class="col-33">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>RT</label>
                        <input ng-model='data.RT' name="rt" ng-pattern="/^[0-9]*$/">
                        <div ng-messages="insured.rt.$error" role="alert" ng-show="insured.rt.$touched">
                            <div ng-show="insured.rt.$error.pattern">! Input salah, silakan masukkan angka</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-33">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>RW</label>
                        <input ng-model='data.RW' name="rw" ng-pattern="/^[0-9]*$/">
                        <div ng-messages="insured.rw.$error" role="alert" ng-show="insured.rw.$touched">
                            <div ng-show="insured.rw.$error.pattern">! Input salah, silakan masukkan angka</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-33">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>KM</label>
                        <input ng-model='data.KM' name="km" ng-pattern="/^[0-9]*$/">
                        <div ng-messages="insured.rw.$error" role="alert" ng-show="insured.rw.$touched">
                            <div ng-show="insured.rw.$error.pattern">! Input salah, silakan masukkan angka</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>


    <div class='item' ng-repeat="(index, row) in vm.insuredData.address">
        <div class="row-no-padding">
            <div class="row responsive-sm">
                <div class="col-33">
                    <label class='asterisk'>No.Tel.Rumah </label>
                    <div class="row">
                        <md-input-container class="col-15">
                            <md-select ng-model="data.Rumah" placeholder="Select area code">
                                <md-option value="opt" selected><em>+62</em></md-option>
                                <md-option value="opt1"><em>+84</em></md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block col-85" flex-gt-sm>
                            <input ng-model='vm.insuredData.address[index].rumah_tel' name="telHome" placeholder="XXX  XXXXXXXX" ng-pattern="/^[0-9]*$/"
                                required>
                            <div ng-messages="insured.telHome.$error" role="alert" ng-show="insured.telHome.$touched">
                                <div ng-show="insured.telHome.$error.required">Pertanyaan ini wajib diisi</div>
                                <div ng-show="insured.telHome.$error.pattern">! Input salah, silakan masukkan angka</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div class="col-33">
                    <label>No.Tel.Kantor</label>
                    <div class="row">
                        <md-input-container class="col-15">
                            <md-select ng-model="data.Kantor" placeholder="Select area code">
                                <md-option value="opt" selected><em>+62</em></md-option>
                                <md-option value="opt1"><em>+84</em></md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block col-85" flex-gt-sm>
                            <input ng-model='vm.insuredData.address[index].kantor_tel' placeholder="XXX  XXXXXXXX" name="telOffice" ng-pattern="/^[0-9]*$/">
                            <div ng-messages="insured.telOffice.$error" role="alert" ng-show="insured.telOffice.$touched">
                                <div ng-show="insured.telOffice.$error.required">Pertanyaan ini wajib diisi</div>
                                <div ng-show="insured.telOffice.$error.pattern">! Input salah, silakan masukkan angka</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div class="col-33">
                    <label class='asterisk'>No. HP /GSM </label>
                    <div class="row">
                        <md-input-container class="col-15">
                            <md-select ng-model="data.hp_gsm" placeholder="Select area code">
                                <md-option value="opt" selected><em>+62</em></md-option>
                                <md-option value="opt1"><em>+84</em></md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block col-85" flex-gt-sm>
                            <input ng-model='vm.insuredData.address[index].hp_gsm_tel' placeholder="XXX  XXXXXXXX" name="telGsm" ng-pattern="/^[0-9]*$/"
                                required>
                            <div ng-messages="insured.telGsm.$error" role="alert" ng-show="insured.telGsm.$touched">
                                <div ng-show="insured.telGsm.$error.required">Pertanyaan ini wajib diisi</div>
                                <div ng-show="insured.telGsm.$error.pattern">! Input salah, silakan masukkan angka</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row-no-padding">
            <div class="row">
                <div class="button-block add_icon" ng-click='vm.addInsuredAddress()'>
                    <a class="button"><i class="icon ion-ios-plus-empty"></i> <span>Tampah Kontak</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label asterisk">Alamat Surat Menyurat</div>
              </label>
            </div>
            <div class="row">
                <div class="row indent_row responsive-sm">
                    <div class="col-33">
                        <input name='alamatSuratMenyurat' id='{{insuredName}}-alamatTempatTingal' class='custom_radio' type="radio" ng-click="changeAddress('Alamat Tempat Tingal')"
                            checked />
                        <label class='' for="{{insuredName}}-alamatTempatTingal">Alamat Tempat Tingal</label>
                    </div>
                    <div class="col-33">
                        <input name='alamatSuratMenyurat' id='{{insuredName}}-alamatKantor' class='custom_radio' type="radio" ng-click="changeAddress('Alamat Kantor')"
                        />
                        <label class='' for="{{insuredName}}-alamatKantor">Alamat Kantor</label>
                    </div>
                    <div class="col-33">
                        <input name='alamatSuratMenyurat' id='{{insuredName}}-alamatLain' ng-click="changeAddress('Alamat Lain')" class='custom_radio'
                            type="radio" />
                        <label class='' for="{{insuredName}}-alamatLain">Alamat Lain</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding" ng-if="showAddress">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Address </label>
                <input type="text" ng-model='data.address'>
            </md-input-container>
        </div>
        <div class="row-no-padding">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input type="email" ng-model='data.email' name="email" required>
                <div ng-messages="insured.email.$error" role="alert" ng-show="insured.email.$touched">
                    <div ng-show="insured.email.$error.required">Pertanyaan ini wajib diisi</div>
                </div>
            </md-input-container>
        </div>
    </div>
</form>