<div id='add-digestive'>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <span class="input-label">Keluhan yang dirasakan</span>
              </label>
            </div>
            <ul class="row customize-cb">
                <li class="item item-checkbox">
                    <p>Sakit Perut</p>
                    <label class="checkbox">
                    <input type="checkbox" ng-model='vm.healthDigest.keluhan_perut'>
                </label>
                </li>
                <li class="item item-checkbox">
                    <p>Muntah</p>
                    <label class="checkbox">
                    <input type="checkbox"  ng-model='vm.healthDigest.keluhan_muntah'>
                </label>
                </li>
                <li class="item  item-checkbox">
                    <p>Nyeri Ulu hati</p>
                    <label class="checkbox">
                    <input type="checkbox"  ng-model='vm.healthDigest.keluhan_nyerl'>
                </label>
                </li>
            </ul>
            <ul class="row customize-cb">
                <li class="item item-checkbox">
                    <p>Mual</p>
                    <label class="checkbox">
                    <input type="checkbox" ng-model='vm.healthDigest.keluhan_mual'>
                    </label>
                </li>
                <li class="item item-checkbox">
                    <p>Muntah Darah</p>
                    <label class="checkbox">
                    <input type="checkbox"  ng-model='vm.healthDigest.keluhan_darah'>
                    </label>
                </li>

            </ul>
            <ul class="row customize-cb">
                <li class="item item-checkbox">
                    <p>Lainnya</p>
                    <label class="checkbox">
                    <input type="checkbox" ng-model='vm.healthDigest.keluhan_lainnya'>
                </label>

                </li>

            </ul>
            <ul class="row more">
                <li class="item item-checkbox" ng-show='vm.healthDigest.keluhan_lainnya'>
                    <input type="text" placeholder="Enter">
                </li>
            </ul>
        </div>
    </div>

    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Pertama kali keluhan muncul</div>
              </label>
            </div>
            <div class="row">
                <select class="form_select" ng-model='vm.healthDigest.pertama'>
                <option selected value>1-3 tahun lalu</option>
                <option>Blue</option>
                <option>Green</option>
                <option>Red</option>
              </select>
            </div>
        </div>
    </div>

    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Frekuensi timbulnya keluhan</div>
              </label>
            </div>
            <div class="row">
                <div class="row indent_row">
                    <div class="col">
                        <select class="form_select" ng-model='vm.healthDigest.kali'>
                <option selected value>2 kali</option>
                <option>Blue</option>
                <option>Green</option>
                <option>Red</option>
              </select>
                    </div>
                    <div class="col">
                        <input name='radio' class='custom_radio' type="radio" id='kali_option' ng-model='vm.healthDigest.kali_option' />
                        <label class='' for="kali_option">Bulan</label>
                    </div>
                    <div class="col">
                        <input name='radio' class='custom_radio' type="radio" id='kali_option2' ng-model='vm.healthDigest.kali_option' />
                        <label class='' for="kali_option2">Tahun</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Kapan keluhan terakhir</div>
              </label>
            </div>
            <div class="row">
                <select class="form_select" ng-model='vm.healthDigest.kapan'>
                <option selected value>< 2 tahun lalu</option>
                <option>Blue</option>
                <option>Green</option>
                <option>Red</option>
              </select>
            </div>
        </div>
    </div>

    <div class='item'>
        <button class="button next" ng-class="{'button-dark': vm.healthDigest.keluhan_perut}" ng-disabled="!vm.vm.healthDigest.keluhan_perut"
            ng-click="health1NextStep('health1_step2')">Berikutnya</button>
    </div>

    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Obat yang pernah dikonsumsi</div>
              </label>
            </div>
            <div class="row">
                <input placeholder="Enter" ng-model='vm.healthDigest.obat'>
            </div>
        </div>
    </div>

    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Diperoleh dari</div>
              </label>
            </div>
            <div class="row">
                <div class="col">
                    <input type='radio' id='dokter' name='dokter' value='dokter' ng-model='vm.healthDigest.diperoleh_dari' />
                    <label for='dokter'>Dokter</label>
                </div>
                <div class="col">
                    <input type='radio' id='obat_bebas' name='obat_bebas' value='obat_bebas' ng-model='vm.healthDigest.diperoleh_dari' />
                    <label for='obat_bebas'>Obat Bebas</label>
                </div>

            </div>
        </div>
    </div>
    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Frekuensi pemakaian obat</div>
              </label>
            </div>
            <div class="row">
                <div class="row indent_row">
                    <div class="col">
                        <select class="form_select" ng-model='vm.healthDigest.frekuensi'>
                <option selected value>2 kali</option>
                <option>Blue</option>
                <option>Green</option>
                <option>Red</option>
              </select>
                    </div>
                    <div class="col">
                        <input name='radio' class='custom_radio' type="radio" id='per_hari' ng-model='vm.healthDigest.frekuensi_option' />
                        <label for="per-hari">Per Hari</label>
                    </div>
                    <div class="col">
                        <input name='radio' class='custom_radio' type="radio" id='per_minggu' ng-model='vm.healthDigest.frekuensi_option' />
                        <label for="per_minggu">Per Minggu</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Frekuensi pemakaian obat</div>
              </label>
            </div>
            <div class="row">
                <div class="row indent_row">
                    <div class="col">
                        <input type='text' id='' name='' value='' placeholder="Enter" ng-model='vm.healthDigest.masih' />
                    </div>
                    <div class="col">
                        <input name='radio' class='custom_radio' type="radio" id='mashi_ya' ng-model='vm.healthDigest.masih_option' />
                        <label for="mashi_ya">YA</label>
                    </div>
                    <div class="col">
                        <input name='radio' class='custom_radio' type="radio" id='mashi_tidak' ng-model='vm.healthDigest.masih_option' />
                        <label for="mashi_tidak">Tidak</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row more-space">
            <label class="item-stacked-label">
            <div class="input-label">Apakah pernah dirawat (inap/jalan) di RS atau pernah dioperasi/ disarankan operasi</div>
        </label>
        </div>
        <div class="button-bar">
            <a class="button col col-50" grouped-radio="'Ya'" ng-model="vm.healthDigest.apakah">Ya</a>
            <a class="button col col-50" grouped-radio="'Tidak'" ng-model="vm.healthDigest.apakah">Tidak</a>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <label class="item-stacked-label">
            <div class="input-label">Kapan</div>
        </label>
        </div>
        <div class="row">
            <div class="col">
                <select class="form_select" ng-model="vm.healthDigest.kapan_month">
                <option selected value>Select</option>
                <option>Blue</option>
                <option>Green</option>
                <option>Red</option>
              </select>
            </div>
            <div class="col">
                <select class="form_select" ng-model="vm.healthDigest.kapan_year">
                <option selected value>Select</option>
                <option>Blue</option>
                <option>Green</option>
                <option>Red</option>
              </select>
            </div>
        </div>
    </div>

    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <div class="input-label">Nama Dokter / Rumah Sakit </div>
              </label>
            </div>
            <div class="row">
                <input placeholder="Enter">
            </div>
        </div>
    </div>

    <div class='item'>
        <div class="row-no-padding">
            <div class="row">
                <label class="item-stacked-label">
                <span class="input-label">Tindakan / terapi yang diberikan</span>
              </label>
            </div>
            <ul class="row customize-cb">
                <li class="item item-checkbox">
                    <p>Obat</p>
                    <label class="checkbox">
                    <input type="checkbox" ng-model='vm.healthDigest.tindakan_obat'>
                </label>
                </li>
                <li class="item item-checkbox">
                    <p>Operasi</p>
                    <label class="checkbox">
                    <input type="checkbox"  ng-model='vm.healthDigest.tindakan_operasi'>
                </label>
                </li>
                <li class="item  item-checkbox">
                    <p>Suntikan</p>
                    <label class="checkbox">
                    <input type="checkbox"  ng-model='vm.healthDigest.tindakan_suntikan'>
                </label>
                </li>
            </ul>

            <ul class="row customize-cb">
                <li class="item item-checkbox">
                    <p>Lainnya</p>
                    <label class="checkbox">
                    <input type="checkbox" ng-model='vm.healthDigest.tindakan_lainnya'>
                </label>

                </li>

            </ul>
            <ul class="row more">
                <li class="item item-checkbox" ng-show='vm.healthDigest.tindakan_lainnya' ng-model='vm.healthDigest.tindakan_lainnya_value'>
                    <input type="text" placeholder="Enter">
                </li>
            </ul>
        </div>
    </div>

    <div class='item'>
        <button class="button next" ng-class="{'button-dark': vm.healthDigest.obat}" ng-disabled="!vm.healthDigest.obat" ng-click="health1NextStep('health1_step2')">Berikutnya</button>
    </div>

    <div class="item">
        <div class="row">
            <label class="item-stacked-label">
            <div class="input-label ">Pemeriksaan yang pernah dijalani</div>
        </label>
        </div>
        <div class="row">
            <div class="col col-10">
                <label class="checkbox">
                <input type="checkbox" ng-model='vm.healthDigest.pemeriksaan_option'>
            </label>
            </div>
            <div class="col" ng-class="vm.healthDigest.pemeriksaan_option ? 'active':'disable'">
                <div class="row row-no-padding title-cb">Endoskopi</div>
                <div class="row row-no-padding">
                    <div class="col">
                        <h4>Waktu Pemeriksaan</h4>
                        <select class="form_select" ng-model="vm.healthDigest.kapan_month">
                <option selected value>YYYY</option>
                <option>Blue</option>
                <option>Green</option>
                <option>Red</option>
              </select>
                    </div>
                    <div class="col">
                        <h4>Hasil Pemeriksaan</h4>
                        <select class="form_select" ng-model="vm.healthDigest.kapan_year">
                <option selected value>Baik</option>
                <option>Blue</option>
                <option>Green</option>
                <option>Red</option>
              </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-10">
                <label class="checkbox">
                <input type="checkbox" ng-model='vm.healthDigest.lainnya_option'>
            </label>
            </div>
            <div class="col" ng-class="vm.healthDigest.lainnya_option ? 'active':'disable'">
                <div class="row row-no-padding title-cb">Lainnya</div>


                <div class="row row-no-padding">
                    <label class="item-stacked-label">
                <div class="input-label">NNama Pemeriksaan</div>
              </label>
                </div>
                <div class="row row-no-padding more-space">
                    <input ng-model='vm.healthDigest.nama' type="text" placeholder="Enter">
                </div>

                <div class="row row-no-padding">
                    <div class="col">
                        <h4>Waktu Pemeriksaan</h4>
                        <select class="form_select" ng-model="vm.healthDigest.kapan2_month">
                <option selected value>YYYY</option>
                <option>Blue</option>
                <option>Green</option>
                <option>Red</option>
              </select>
                    </div>
                    <div class="col">
                        <h4>Hasil Pemeriksaan</h4>
                        <select class="form_select" ng-model="vm.healthDigest.kapan2_year">
                <option selected value>Baik</option>
                <option>Blue</option>
                <option>Green</option>
                <option>Red</option>
              </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>