<ion-view cache-view="false" view-title="Data Kesehatan" id="health_question1">
  <ion-nav-title>
    <custom-header title='Data Kesehatan' step='2'></custom-header>
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div class="header-tab">
      <div class='row tab-menu'>
        <span class='col' ng-repeat="tab in vm.tabs" ng-class="vm.currentTab==tab.value? 'active': ''" ng-click="vm.switchTab(tab.value)">{{ tab.title}}</span>
      </div>
    </div>
    <div class="wrapper text-center has-bottom-bar padding-bottom">
      <div ng-if="vm.currentTab=='main_question'" ng-include="'views/spaj/policy/step2/health_main_question.html'"></div>
      <div ng-if="vm.currentTab=='additional_insured_1'" ng-include="'views/spaj/policy/step2/additional_inssure.html'"></div>
      <div ng-if="vm.currentTab=='additional_insured_2'" ng-include="'views/spaj/policy/step2/additional_inssure_2.html'"></div>
    </div>
  </ion-content>
</ion-view>
<div ng-show="true" class="bar bar-footer bar-assertive">
  <a ng-click="vm.nextStep()" title="Continue" class="btn">Next<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
</div>