<div class="popup-wrapper">
  <form action="">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Bila kecelakaan menyangkut alat gerak, bagaimana fungsi alat gerak tersebut saat ini?</label>
      <input ng-model="popupData.function_name">
    </md-input-container>
    <div class="item2">
      <div class="label">Apakah saat ini terpasang pen pada tubuh Anda?</div>
      <div class="">
        <div class="button-bar">
          <a class="button col col-50" grouped-radio="true" ng-model="popupData.is_pen_installed">Ya</a>
          <a class="button col col-50" grouped-radio="false" ng-model="popupData.is_pen_installed">Tidak</a>
        </div>
      </div>
    </div>
  </form>
</div>