<div class="popup-wrapper">
  <form action="">
    <div class="">
      <div class="">Nama Keadaan/Penyakit</div>
      <div class="">
        <input type="text" placeholder="Enter" ng-model="popupData.name_of_illness">
      </div>
    </div>
    <div class="row row-no-padding">
      <div class="col">
        <div class="">Kapan kondisi ditemukan</div>
        <div class="">
          <input type="text" placeholder="Enter" ng-model="popupData.when_the_condition_found">
        </div>
      </div>
      <div class="col">
        <div class="">Tanggal Konsultasi/Perawatan terakhir</div>
        <div class="">
          <input type="text" placeholder="Enter" ng-model="popupData.last_care_date">
        </div>
      </div>
    </div>
    <div class="">
      <div class="">Nama Rumah sakit yang dikunjungi</div>
      <div class="">
        <input type="text" placeholder="Enter" ng-model="popupData.hospoital_name">
      </div>
    </div>
    <div class="">
      <div class="">Alamat Rumah sakit yang dikunjungi</div>
      <div class="">
        <input type="text" placeholder="Enter" ng-model="popupData.hospital_address">
      </div>
    </div>
    <div class="">
      <div class="">Tindakan Medis</div>
      <div class="">
        <input type="text" placeholder="Enter" ng-model="popupData.medicine">
      </div>
    </div>
  </form>
</div>
