<div id="digestive-popup" class="popup-wrapper">
    <div class="popup-content">
        <div class='item'>
            <div class="row-no-padding">
                <h1 class="description">Keluhan yang dirasakan</h1>
                <ul class="row customize-cb">
                    <li class="item item-checkbox">
                        <p>Sakit Perut</p>
                        <label class="checkbox">
                            <input type="checkbox" ng-model='vm.healthDigest.keluhan_perut'>
                        </label>
                    </li>
                    <li class="item item-checkbox">
                        <p>Muntah</p>
                        <label class="checkbox">
                            <input type="checkbox" ng-model='vm.healthDigest.keluhan_muntah'>
                        </label>
                    </li>
                    <li class="item  item-checkbox">
                        <p>Nyeri Ulu hati</p>
                        <label class="checkbox">
                            <input type="checkbox" ng-model='vm.healthDigest.keluhan_nyerl'>
                        </label>
                    </li>
                </ul>
                <ul class="row customize-cb">
                    <li class="item item-checkbox">
                        <p>Mual</p>
                        <label class="checkbox">
                            <input type="checkbox" ng-model='vm.healthDigest.keluhan_mual'>
                        </label>
                    </li>
                    <li class="item item-checkbox">
                        <p>Muntah Darah</p>
                        <label class="checkbox">
                            <input type="checkbox" ng-model='vm.healthDigest.keluhan_darah'>
                        </label>
                    </li>
                </ul>
                <ul class="row customize-cb">
                    <li class="item item-checkbox">
                        <p>Lainnya</p>
                        <label class="checkbox">
                            <input type="checkbox" ng-model='vm.healthDigest.keluhan_lainnya'>
                        </label>
                    </li>
                </ul>
                <ul class="row option_other"  ng-show='vm.healthDigest.keluhan_lainnya'>
                    <li class="item item-checkbox">
                        <input type="text" placeholder="Enter">
                    </li>
                </ul>
            </div>
        </div>
        <!--end item-->
        <div class='item'>
            <div class="row-no-padding">
                <md-input-container class="md-block">
                    <label class="input-label">Pertama kali keluhan muncul</label>
                    <md-select ng-model='vm.healthDigest.pertamas'>
                        <md-option ng-repeat="type in vm.rgb2" ng-value="type">{{type}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <!--end item-->
        <div class='item'>
            <div class="row row-no-padding">
                <div class="col col-50">
                    <md-input-container>
                        <label class="input-label">Frekuensi timbulnya keluhan</label>
                        <md-select ng-model='vm.healthDigest.pertama'>
                            <md-option ng-repeat="type in vm.rgb" ng-value="type">{{type}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col col-50">
                    <div class="button-bar">
                        <a class="button col col-50" grouped-radio="true" ng-model="vm.healthData.ibrain">Hari</a>
                        <a class="button col col-50" grouped-radio="false" ng-model="vm.healthData.ibrain">Minggu</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end item-->
        <div class='item'>
            <div class="row-no-padding">
                <md-input-container class="md-block">
                    <label class="input-label">Kapan keluhan terakhir</label>
                    <md-select ng-model='vm.healthDigest.pertama'>
                        <md-option ng-repeat="type in vm.rgb" ng-value="type">{{type}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <!--end item-->
        <div class='item'>
            <button class="button next" ng-class="{'button-dark': vm.healthDigest.keluhan_perut}" ng-disabled="!vm.vm.healthDigest.keluhan_perut" ng-click="health1NextStep('health1_step2')">Berikutnya</button>
        </div>
        <div class="item">
            <h1 class="description">Apakah pernah dirawat (inap/jalan) di RS atau pernah dioperasi/ disarankan operasi</h1>
            <div class="button-bar">
                <a class="button col col-50" grouped-radio="true" ng-model="vm.healthData.ibrain">Ya</a>
                <a class="button col col-50" grouped-radio="false" ng-model="vm.healthData.ibrain">Tidak</a>
            </div>
        </div>
        <!--end item-->
        <div class="item">
            <div class="row">
                <label class="item-stacked-label">
                    <div class="input-label">Kapan</div>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <md-input-container class="md-block">
                        <label class="input-label">Januari</label>
                        <md-select ng-model="vm.healthDigest.kapan_month">
                            <md-option ng-repeat="type in vm.rgb" ng-value="type">{{type}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col">
                    <md-input-container class="md-block">
                        <label class="input-label">YYYY</label>
                        <md-select ng-model="vm.healthDigest.kapan_year">
                            <md-option ng-repeat="type in vm.rgb" ng-value="type">{{type}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>
        <div class='item'>
            <div class="row-no-padding">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Nama Dokter / Rumah Sakit </label>
                    <input type="text" ng-model="data.date_of_birth" />
                </md-input-container>
            </div>
        </div>
        <!--end item-->
        <!--end item-->
        <div class='item'>
            <div class="row-no-padding">
                <h1 class="description">Tindakan / terapi yang diberikan</h1>
                <ul>
                    <li class="item item-checkbox">
                        <p>Operasi</p>
                        <label class="checkbox">
                            <input type="checkbox" ng-model='vm.healthDigest.tindakan_operasi'>
                        </label>
                    </li>
                    <li class="item  item-checkbox">
                        <p>Suntikan</p>
                        <label class="checkbox">
                            <input type="checkbox" ng-model='vm.healthDigest.tindakan_suntikan'>
                        </label>
                    </li>
                    <li class="item item-checkbox">
                        <p>Obat</p>
                        <label class="checkbox">
                            <input type="checkbox" ng-model='vm.healthDigest.tindakan_obat'>
                        </label>
                        <ul>
                            <li>
                                <div class="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Tanggal Lahir </label>
                                        <input type="text" />
                                    </md-input-container>
                                </div>
                                <div class="row">
                                    <h4 class="input-label description">Diperoleh dari</h3>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type='radio' id='dokter' name='dokter' value='dokter' ng-model='vm.healthDigest.diperoleh_dari' />
                                        <label for='dokter'>Dokter</label>
                                    </div>
                                    <div class="col">
                                        <input type='radio' id='obat_bebas' name='obat_bebas' value='obat_bebas' ng-model='vm.healthDigest.diperoleh_dari' />
                                        <label for='obat_bebas'>Obat Bebas</label>
                                    </div>
                                </div>
                                <div class="row row-no-padding vertical-space">
                                    <div class="col col-50">
                                        <md-input-container>
                                            <label class="input-label">Frekuensi timbulnya keluhan</label>
                                            <md-select ng-model='vm.healthDigest.pertama'>
                                                <md-option ng-repeat="type in vm.rgb" ng-value="type">{{type}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col col-50">
                                        <div class="button-bar">
                                            <a class="button col col-50" grouped-radio="true" ng-model="vm.healthData.ibrain">Hari</a>
                                            <a class="button col col-50" grouped-radio="false" ng-model="vm.healthData.ibrain">Minggu</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item row-no-padding">
                                  
                                  <h1 class="description">Masih memakai obat ini</h1>
                                     
                                  <div class="button-bar">
                                      <a class="button col col-50" grouped-radio="'Ya'" ng-model="vm.healthDigest.apakah">Ya</a>
                                      <a class="button col col-50" grouped-radio="'Tidak'" ng-model="vm.healthDigest.apakah">Tidak</a>
                                  </div>
                              </div>
                            </li>
                            <!--end li-->
                        </ul>
                    </li>
                </ul>
                <ul class="row customize-cb">
                    <li class="item item-checkbox">
                        <p>Lainnya</p>
                        <label class="checkbox">
                            <input type="checkbox" ng-model='vm.healthDigest.tindakan_lainnya'>
                        </label>
                        <input class="vertical-space" type="text" placeholder="Enter"  ng-class="vm.healthDigest.tindakan_lainnya ? 'active':'disable'">
                    </li>
                </ul>
            </div>
        </div>
        <!--end item-->
        
        
        <!--end item-->
        <div class='item'>
            <button class="button next" ng-class="{'button-dark': vm.healthDigest.obat}" ng-disabled="!vm.healthDigest.obat" ng-click="health1NextStep('health1_step2')">Berikutnya</button>
        </div>
        <!--end item-->
        <div class="item">
            <div class="row">
                <label class="item-stacked-label">
                    <div class="input-label ">Pemeriksaan yang pernah dijalani</div>
                </label>
            </div>
            <div class="row">
                <div class="col col-10">
                    <label class="checkbox">
                        <input type="checkbox" ng-model='vm.healthDigest.pemeriksaan_option'>
                    </label>
                </div>
                <div class="col" ng-class="vm.healthDigest.pemeriksaan_option ? 'active':'disable'">
                    <div class="row row-no-padding title-cb">Endoskopi</div>
                    <div class="row row-no-padding">
                        <div class="col">
                            <md-input-container>
                                            <label class="input-label">Waktu Pemeriksaan</label>
                                            <md-select ng-model='vm.healthDigest.pertama'>
                                                <md-option ng-repeat="type in vm.rgb" ng-value="type">{{type}}</md-option>
                                            </md-select>
                            </md-input-container>
                        </div>
                        <div class="col">
                            <md-input-container>
                                <label class="input-label">Hasil Pemeriksaan</label>
                                <md-select ng-model='vm.healthDigest.pertama'>
                                  <md-option ng-repeat="type in vm.rgb" ng-value="type">{{type}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-10">
                    <label class="checkbox">
                        <input type="checkbox" ng-model='vm.healthDigest.lainnya_option'>
                    </label>
                </div>
                <div class="col" ng-class="vm.healthDigest.lainnya_option ? 'active':'disable'">
                    <div class="row row-no-padding title-cb">Lainnya</div>
                    <div class="row row-no-padding">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>NNama Pemeriksaan </label>
                            <input type="text" ng-model="data.date_of_birth" />
                        </md-input-container>
                    </div>
                    <div class="row row-no-padding more-space">
                        <input ng-model='vm.healthDigest.nama' type="text" placeholder="Enter">
                    </div>
                    <div class="row row-no-padding">
                        <div class="col">
                            <md-input-container>
                                <label class="input-label">Waktu Pemeriksaan</label>
                                <md-select ng-model='vm.healthDigest.pertama'>
                                  <md-option ng-repeat="type in vm.rgb" ng-value="type">{{type}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col">
                            <md-input-container>
                                <label class="input-label">Hasil Pemeriksaan</label>
                                <md-select ng-model='vm.healthDigest.pertama'>
                                  <md-option ng-repeat="type in vm.rgb" ng-value="type">{{type}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
