<div class="popup-wrapper">
  <form action="">
    <div class="item2">
      <div class="label">Bila kecelakaan menyangkut alat gerak, bagaimana fungsi alat gerak tersebut saat ini? </div>
      <div class="">
        <input type="text" placeholder="Enter" ng-model="popupData.function_name">
      </div>
    </div>
    <div class="item2">
      <div class="label">Apakah saat ini terpasang pen pada tubuh Anda?</div>
      <div class="">
        <div class="button-bar">
          <a class="button col col-50" grouped-radio="true" ng-model="popupData.is_pen_installed">Ya</a>
          <a class="button col col-50" grouped-radio="false" ng-model="popupData.is_pen_installed">Tidak</a>
        </div>
      </div>
    </div>
  </form>
</div>