<div class="popup-wrapper">

  <div class="popup-content">
    <div id="policy_info_ph_info" class="list list-inset no-lines">
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
              <span class="input-label">Gangguan pernafasan yang diderita</span>
            </label>
          </div>
          <div class="row">
            <div class="col-33">
              <ion-checkbox ng-model='vm.respiratory.gangguan_asma'>Asma</ion-checkbox>
            </div>
            <div class="col-33">
              <ion-checkbox ng-model='vm.respiratory.gangguan_tbc'>TBC</ion-checkbox>
            </div>
            <div class="col-33">
              <ion-checkbox ng-model='vm.respiratory.gangguan_bronkhitis'>Bronkhitis</ion-checkbox>
            </div>
          </div>
          <div class="row">
            <ion-checkbox ng-model='vm.respiratory.lainnya_option1'>Lainnya</ion-checkbox>
          </div>
          <div class="option_other" ng-show='vm.respiratory.lainnya_option1'>
            <div class="row">
              <input type="text" placeholder="Enter" ng-model='vm.respiratory.gangguan_lainnya'>
            </div>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <md-input-container class="md-block">
              <md-select ng-model='vm.respiratory.kapan_pertama' placeholder="Kapan pertama kali gejala dirasakan">
                <md-option ng-repeat="n in vm.const" value="{{n.type}}">{{n.value}}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
              <span class="input-label">Keluhan yang dirasakan</span>
            </label>
          </div>
          <div class="row">
            <div class="col-33">
              <ion-checkbox ng-model='vm.respiratory.yang_sesak'>Sesak Nafas</ion-checkbox>
            </div>
            <div class="col-33">
              <ion-checkbox ng-model='vm.respiratory.yang_batuk'>Batuk lama</ion-checkbox>
            </div>
            <div class="col-33">
              <ion-checkbox ng-model='vm.respiratory.yang_nafas'>Nafas Berbunyi</ion-checkbox>
            </div>
          </div>
          <div class="row">
            <ion-checkbox ng-model='vm.respiratory.lainnya_option2'>Lainnya</ion-checkbox>
          </div>
          <div class="option_other" ng-show='vm.respiratory.lainnya_option2'>
            <div class="row">
              <input type="text" placeholder="Enter" ng-model='vm.respiratory.keluhan_lainnya'>
            </div>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Faktor pemicu terhadap keluhan yang dirasakan </label>
            <input type="text" ng-model='vm.respiratory.faktor' />
          </md-input-container>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
                <div class="input-label">Apakah membatasi aktivitas pekerjaan ?</div>
              </label>
          </div>
          <div class="row">
            <div class="row indent_row">
              <div class="button-bar">
                <a class="button col col-50" grouped-radio="'Ya'" ng-model="vm.respiratory.apakah">Ya</a>
                <a class="button col col-50" grouped-radio="'Tidak'" ng-model="vm.respiratory.apakah">Tidak</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <di class="row-no-padding">
          <div class="row">
            <div class="button-block add_icon">
              <a class="button"><span>Berikutnya</span></a>
            </div>
          </div>
        </di>
      </div>
      <div class='item'>
        <div class="row-no-padding">

          <div class="row">
            <md-input-container class="md-block">
              <md-select ng-model="vm.respiratory.kapan_keluhan" placeholder='Kapan keluhan terakhir'>
                <md-option ng-repeat="type in vm.rgb2" value="{{type}}">{{type}}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nama Dokter / Rumah Sakit</label>
            <input type="text" ng-model="vm.respiratory.nama_dokter" />
          </md-input-container>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <div class="col-40">
              <div class="row">
                <md-input-container class="md-block">
                  <md-select ng-model="vm.respiratory.berapa_select" placeholder='Berapa kali konsultasi'>
                    <md-option ng-repeat="type in vm.rgb2" value="{{type}}">{{type}}</md-option>
                  </md-select>
                </md-input-container>

              </div>
            </div>
            <div class="col-20"></div>
            <div class="col-40">
              <div class="row">
                <div class="col-50">
                  <md-input-container class="md-block">
                    <md-select ng-model="vm.respiratory.terakhir_select" placeholder='Terakhir konsultasi'>
                      <md-option ng-repeat="type in vm.rgb2" value="{{type}}">{{type}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>

                <div class="col-50">
                  <md-input-container class="md-block">
                    <md-select ng-model="vm.respiratory.terakhir_year" placeholder='2011'>
                      <md-option ng-repeat="type in vm.rgb2" value="{{type}}">{{type}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <di class="row-no-padding">
          <div class="row">
            <div class="button-block add_icon">
              <a class="button"><span>Berikutnya</span></a>
            </div>
          </div>
        </di>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
              <div class="input-label">Apakah pernah dirawat inap di Rumah Sakit ?</div>
            </label>
          </div>
          <div class="row">
            <div class="button-bar">
              <a class="button col col-50" grouped-radio="'Ya'" ng-model="vm.respiratory.apakah_pernah">Ya</a>
              <a class="button col col-50" grouped-radio="'Tidak'" ng-model="vm.respiratory.apakah_pernah">Tidak</a>
            </div>

          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <div class="col-40">
              <div class="row">
                <md-input-container class="md-block">
                  <md-select ng-model="vm.respiratory.kapan_select" placeholder='Kapan'>
                    <md-option ng-repeat="type in vm.rgb2" value="{{type}}">{{type}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
            <div class="col-20"></div>
            <div class="col-40">

              <div class="row">
                <md-input-container class="md-block">
                  <md-select ng-model="vm.respiratory.lama_select" placeholder='Lama di Rumah Sakit'>
                    <md-option ng-repeat="type in vm.rgb2" value="{{type}}">{{type}}</md-option>
                  </md-select>
                </md-input-container>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nama Dokter / Rumah Sakit</label>
            <input type="text" ng-model="vm.respiratory.lama2" />
          </md-input-container>
        </div>
      </div>
      <div class="item">
        <di class="row-no-padding">
          <div class="row">
            <div class="button-block add_icon">
              <a class="button"><span>Berikutnya</span></a>
            </div>
          </div>
        </di>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
                <span class="input-label">Pengobatan / Terapi</span>
              </label>
          </div>
          <div class="row">
            <ion-checkbox ng-model="vm.respiratory.inhalasi">Inhalasi</ion-checkbox>
          </div>
          <div class="row">
            <ion-checkbox ng-model="vm.respiratory.suntikan">Suntikan</ion-checkbox>
          </div>
          <div class="option_other" ng-class="vm.respiratory.suntikan ? 'active':'disable'">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nama Obat</label>
              <input type="text" ng-model="vm.respiratory.suntikan_nama" />
            </md-input-container>
          </div>
          <div class="row">
            <ion-checkbox ng-model="vm.respiratory.obat_minum">Obat minum</ion-checkbox>
          </div>
          <div class="row">
            <ion-checkbox ng-model="vm.respiratory.operasi">Operasi</ion-checkbox>
          </div>
          <div class="row">
            <ion-checkbox ng-model="vm.respiratory.pengobatan_lainnya_option">Lainnya</ion-checkbox>
          </div>
          <div class="option_other" ng-class="vm.respiratory.pengobatan_lainnya_option ? 'active':'disable'">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nama Obat</label>
              <input type="text" ng-model="vm.respiratory.pengobatan_lainnya" />
            </md-input-container>
          </div>

        </div>
      </div>
      <div class="item">
        <di class="row-no-padding">
          <div class="row">
            <div class="button-block add_icon">
              <a class="button"><span>Berikutnya</span></a>
            </div>
          </div>
        </di>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
                <span class="input-label">Pemeriksaan</span>
              </label>
          </div>
          <div class="row">
            <ion-checkbox ng-model="vm.respiratory.rontgen">Rontgen Dada</ion-checkbox>
          </div>
          <div class="row">
            <ion-checkbox>Tes Fungsi Paru / Spirometri</ion-checkbox>
          </div>
          <div class="option_other">

            <div class="row">
              <div class="col-40">
                <md-input-container class="md-block">
                  <md-select ng-model="vm.respiratory.kapan_select" placeholder='Kapan'>
                    <md-option ng-repeat="type in vm.rgb2" value="{{type}}">{{type}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div class="col-20"></div>
              <div class="col-40">
                <md-input-container class="md-block">
                  <md-select ng-model="vm.respiratory.hasil_select" placeholder='Hasil'>
                    <md-option ng-repeat="type in vm.rgb2" value="{{type}}">{{type}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
          </div>
          <div class="row">
            <ion-checkbox ng-model="vm.respiratory.ekg">EKG</ion-checkbox>
          </div>
          <div class="row">
            <ion-checkbox ng-model="vm.respiratory.pemeriksaan_lainnya_option">Lainnya</ion-checkbox>
          </div>
          <div class="option_other">
            <div class="row">
              <input type="text" placeholder="Enter" ng-model="vm.respiratory.pemeriksaan_lainnya">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>