<md-dialog aria-label="Mango (Fruit)" class="_md md-transition-in md-content-overflow" role="dialog" id="eye-popup">
  <form>
    <md-toolbar class="_md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h2>Detail Kondisi Mata</h2>
        <span flex="" class="flex"></span>
        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="vm.closeDialog()">
          <i class="icon ion-android-close"></i>
        </button>
      </div>
    </md-toolbar>
    <md-dialog-content class="popup-prudential">
      <ion-content delegate-handle="puScroll">
        <div class="md-dialog-content">
          <ng-form name="vm.eyePu">
            <div class="item">Tinh toan: {{vm.eyePu}}</div>
            <div class="item no-lines" ng-repeat="(index, item) in vm.healthData.eyePopup track by $index">
              <span class="number">{{index + 1}}</span>
              <div class="row align_column">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nama Keadaan/Penyakit</label>
                  <input name="name{{$index}}" ng-model="item.name_of_illness" ng-pattern="vm.pattern.textOnly" required>
                </md-input-container>
                <p class="message" ng-show='vm.eyePu.name{{$index}}.$touched && vm.eyePu.name{{$index}}.$invalid || vm.eyePu.name{{$index}}.$viewValue.length>100'><i class="icon ion-alert"></i> Input salah, silakan masukkan huruf</p>
              </div>
              <div class="row responsive-sm">
                <div class="col">
                <md-input-container class="md-block">
                 <input type="date" placeholder="Kapan kondisi ditemukan" 
                  ng-model='item.when_the_condition_found' name='time_return{{$index}}' required>
                </md-input-container>
                <p class="message" ng-show='vm.eyePu.time_return{{$index}}.$touched && vm.eyePu.time_return{{$index}}.$invalid'><i class="icon ion-alert"></i> Silakan masukkan DDMMYYYY</p>
                 </div>
                  <div class="col">
                 <md-input-container class="md-block">
                 <input type="date" placeholder="Tanggal Konsultasi/Perawatan terakhir" 
                  ng-model='item.last_care_date'  name='care_date{{$index}}' required>
                </md-input-container>
                <p class="message" ng-show='vm.eyePu.care_date{{$index}}.$touched && vm.eyePu.care_date{{$index}}.$invalid'><i class="icon ion-alert"></i> Silakan masukkan DDMMYYYY</p>
                  </div>
              </div>
              <div class="row align_column">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nama Rumah sakit yang dikunjungi</label>
                  <input ng-model="item.hospoital_name" name='hospoital_name{{$index}}' ng-pattern="vm.pattern.alphanumeric"   required>
                </md-input-container>
                <p class="message" ng-show='vm.eyePu.hospoital_name{{$index}}.$touched && vm.eyePu.hospoital_name{{$index}}.$invalid'><i class="icon ion-alert"></i> ! Input salah, silakan masukkan angka/ huruf</p>
              </div>
              <div class="row align_column">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Alamat Rumah sakit yang dikunjungi</label>
                  <input ng-model="item.hospital_address" name='hospital_address{{$index}}'  ng-pattern="vm.pattern.textOnly"  required>
                </md-input-container>
                 <p class="message" ng-show='vm.eyePu.hospital_address{{$index}}.$touched && vm.eyePu.hospital_address{{$index}}.$invalid'><i class="icon ion-alert"></i> ! Input salah, silakan masukkan huruf</p>
              </div>
              <div class="row align_column">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Tindakan Medis</label>
                  <input ng-model="item.medicine" name='medicine{{$index}}' ng-pattern="vm.pattern.alphanumeric"  required>
                </md-input-container>
                 <p class="message" ng-show='vm.eyePu.medicine{{$index}}.$touched && vm.eyePu.medicine{{$index}}.$invalid'><i class="icon ion-alert"></i> ! Input salah, silakan masukkan angka/ huruf</p>
              </div>
            </div>
            <div class="row">
              <button class="add-more-btn" ng-click="vm.addPopupEyeItem()" ng-disabled="vm.healthData.eyePopup.length>=2">
        + Tambah detail kondisi 
      </button>
            </div>
          </ng-form>
        </div>
      </ion-content>
    </md-dialog-content>

    <md-dialog-actions layout="row" class="layout-row">
      <button class="md-button button-full" type="button" ng-click="vm.closeDialog()">
        <span class="ng-scope">Selesai</span>
      </button>
    </md-dialog-actions>
  </form>
</md-dialog>