
<md-dialog aria-label="Mango (Fruit)" class="_md md-transition-in md-content-overflow" role="dialog"  id="digestive-popup" >
  <form >
    <md-toolbar class="_md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h2>Kuesioner Gangguan Pernapasan</h2>
        <span flex="" class="flex"></span>
        <button class="md-icon-button md-button md-ink-ripple" type="button"  ng-click="closeDialog()">
          <i class="icon ion-android-close"></i>
        </button>
      </div>
    </md-toolbar>
    <md-dialog-content class="popup-prudential" >
    <div id="policy_info_ph_info" class="list list-inset no-lines">
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
              <span class="input-label">Gangguan pernafasan yang diderita</span>
            </label>
          </div>
          <div class="row">
            <div class="col-33">
              <ion-checkbox ng-model='respiratory.gangguan_asma'>Asma</ion-checkbox>
            </div>
            <div class="col-33">
              <ion-checkbox ng-model='respiratory.gangguan_tbc'>TBC</ion-checkbox>
            </div>
            <div class="col-33">
              <ion-checkbox ng-model='respiratory.gangguan_bronkhitis'>Bronkhitis</ion-checkbox>
            </div>
          </div>
          <div class="row">
            <ion-checkbox ng-model='respiratory.lainnya_option1'>Lainnya</ion-checkbox>
          </div>
          <div class="option_other" ng-show='respiratory.lainnya_option1'>
            <div class="row">
              <input type="text" placeholder="Enter" ng-model='respiratory.gangguan_lainnya'>
            </div>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <md-input-container class="md-block">
              <md-select ng-model='respiratory.kapan_pertama' placeholder="Kapan pertama kali gejala dirasakan">
                <md-option ng-repeat="n in const" value="{{n.type}}">{{n.value}}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
              <span class="input-label">Keluhan yang dirasakan</span>
            </label>
          </div>
          <div class="row">
            <div class="col-33">
              <ion-checkbox ng-model='respiratory.yang_sesak'>Sesak Nafas</ion-checkbox>
            </div>
            <div class="col-33">
              <ion-checkbox ng-model='respiratory.yang_batuk'>Batuk lama</ion-checkbox>
            </div>
            <div class="col-33">
              <ion-checkbox ng-model='respiratory.yang_nafas'>Nafas Berbunyi</ion-checkbox>
            </div>
          </div>
          <div class="row">
            <ion-checkbox ng-model='respiratory.lainnya_option2'>Lainnya</ion-checkbox>
          </div>
          <div class="option_other" ng-show='respiratory.lainnya_option2'>
            <div class="row">
              <input type="text" placeholder="Enter" ng-model='respiratory.keluhan_lainnya'>
            </div>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Faktor pemicu terhadap keluhan yang dirasakan </label>
            <input type="text" ng-model='respiratory.faktor' />
          </md-input-container>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
                <div class="input-label">Apakah membatasi aktivitas pekerjaan ?</div>
              </label>
          </div>
          <div class="row">
            <div class="row indent_row">
              <div class="button-bar">
                <a class="button col col-50" grouped-radio="'Ya'" ng-model="respiratory.apakah">Ya</a>
                <a class="button col col-50" grouped-radio="'Tidak'" ng-model="respiratory.apakah">Tidak</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row-no-padding">
          <div class="row">
            < <button class="button button-full"
              ng-class=""
              ng-disabled=""
              ng-click=""
            >
              <span>Berikutnya</span>
            </button>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">

          <div class="row">
            <md-input-container class="md-block">
              <md-select ng-model="respiratory.kapan_keluhan" placeholder='Kapan keluhan terakhir'>
                <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nama Dokter / Rumah Sakit</label>
            <input type="text" ng-model="respiratory.nama_dokter" />
          </md-input-container>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <div class="col-40">
              <div class="row">
                <md-input-container class="md-block">
                  <md-select ng-model="respiratory.berapa_select" placeholder='Berapa kali konsultasi'>
                    <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                  </md-select>
                </md-input-container>

              </div>
            </div>
            <div class="col-20"></div>
            <div class="col-40">
              <div class="row">
                <div class="col-50">
                  <md-input-container class="md-block">
                    <md-select ng-model="respiratory.terakhir_select" placeholder='Terakhir konsultasi'>
                      <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>

                <div class="col-50">
                  <md-input-container class="md-block">
                    <md-select ng-model="respiratory.terakhir_year" placeholder='2011'>
                      <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row-no-padding">
          <div class="row">
            <button class="button button-full"
              ng-class=""
              ng-disabled=""
              ng-click=""
            >
              <span>Berikutnya</span>
            </button>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
              <div class="input-label">Apakah pernah dirawat inap di Rumah Sakit ?</div>
            </label>
          </div>
          <div class="row">
            <div class="button-bar">
              <a class="button col col-50" grouped-radio="'Ya'" ng-model="respiratory.apakah_pernah">Ya</a>
              <a class="button col col-50" grouped-radio="'Tidak'" ng-model="respiratory.apakah_pernah">Tidak</a>
            </div>

          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <div class="col-40">
              <div class="row">
                <md-input-container class="md-block">
                  <md-select ng-model="respiratory.kapan_select" placeholder='Kapan'>
                    <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
            <div class="col-20"></div>
            <div class="col-40">

              <div class="row">
                <md-input-container class="md-block">
                  <md-select ng-model="respiratory.lama_select" placeholder='Lama di Rumah Sakit'>
                    <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                  </md-select>
                </md-input-container>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nama Dokter / Rumah Sakit</label>
            <input type="text" ng-model="respiratory.lama2" />
          </md-input-container>
        </div>
      </div>
      <div class="item">
        <div class="row-no-padding">
          <div class="row">
             <button class="button button-full"
              ng-class=""
              ng-disabled=""
              ng-click="">
              <span>Berikutnya</span>
            </button>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
                <span class="input-label">Pengobatan / Terapi</span>
              </label>
          </div>
          <div class="row">
            <ion-checkbox ng-model="respiratory.inhalasi">Inhalasi</ion-checkbox>
          </div>
          <div class="row">
            <ion-checkbox ng-model="respiratory.suntikan">Suntikan</ion-checkbox>
          </div>
          <div class="option_other" ng-class="respiratory.suntikan ? 'active':'disable'">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nama Obat</label>
              <input type="text" ng-model="respiratory.suntikan_nama" />
            </md-input-container>
          </div>
          <div class="row">
            <ion-checkbox ng-model="respiratory.obat_minum">Obat minum</ion-checkbox>
          </div>
          <div class="row">
            <ion-checkbox ng-model="respiratory.operasi">Operasi</ion-checkbox>
          </div>
          <div class="row">
            <ion-checkbox ng-model="respiratory.pengobatan_lainnya_option">Lainnya</ion-checkbox>
          </div>
          <div class="option_other" ng-class="respiratory.pengobatan_lainnya_option ? 'active':'disable'">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nama Obat</label>
              <input type="text" ng-model="respiratory.pengobatan_lainnya" />
            </md-input-container>
          </div>

        </div>
      </div>
      <div class="item">
        <div class="row-no-padding">
          <div class="row">
             <button class="button button-full"
              ng-class=""
              ng-disabled=""
              ng-click="">
              <span>Berikutnya</span>
            </button>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row-no-padding">
          <div class="row">
            <label class="item-stacked-label">
                <span class="input-label">Pemeriksaan</span>
              </label>
          </div>
          <div class="row">
            <ion-checkbox ng-model="respiratory.rontgen">Rontgen Dada</ion-checkbox>
          </div>
          <div class="row">
            <ion-checkbox>Tes Fungsi Paru / Spirometri</ion-checkbox>
          </div>
          <div class="option_other">

            <div class="row">
              <div class="col-40">
                <md-input-container class="md-block">
                  <md-select ng-model="respiratory.kapan_select2" placeholder='Kapan'>
                    <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div class="col-20"></div>
              <div class="col-40">
                <md-input-container class="md-block">
                  <md-select ng-model="respiratory.hasil_select" placeholder='Hasil'>
                    <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
          </div>
          <div class="row">
            <ion-checkbox ng-model="respiratory.ekg">EKG</ion-checkbox>
          </div>
          <div class="row">
            <ion-checkbox ng-model="respiratory.pemeriksaan_lainnya_option">Lainnya</ion-checkbox>
          </div>
          <div class="option_other">
            <div class="row">
              <input type="text" placeholder="Enter" ng-model="respiratory.pemeriksaan_lainnya">
            </div>
          </div>
        </div>
      </div>
    </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" class="layout-row">
      <button class="md-button button-full" type="button"  ng-click="closeDialog()">
        <span class="ng-scope">Selesai</span>
      </button>
    </md-dialog-actions>
  </form>
</md-dialog>