<md-dialog aria-label="Mango (Fruit)" class="_md md-transition-in md-content-overflow" role="dialog">
  <form name='tumor'>
    <md-toolbar class="_md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h2>Kesehatan Tambahan Tumor</h2>
        <span flex="" class="flex"></span>
        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="vm.closeDialog()">
          <i class="icon ion-android-close"></i>
        </button>
      </div>
    </md-toolbar>

    <md-dialog-content class="popup-prudential">
      <ion-content delegate-handle="puScroll">
        <div class="md-dialog-content">
          <div id="policy_info_ph_info" class="list list-inset no-lines">
            <div class='item _active' id='tumor_1'>
              <div class="row-no-padding">
                <div class="row">
                  <label class="item-stacked-label">
                    <span class="input-label">Jenis kelainan yang diderita</span>
                  </label>
                </div>
                <div class="row">
                  <div class="col-33">
                    <ion-checkbox ng-model='vm.healthData.tumorPu.janes.tumor' name='janes_tumor'>Tumor</ion-checkbox>
                  </div>
                  <div class="col-33">
                    <ion-checkbox ng-model='vm.healthData.tumorPu.janes.kista'>Kista</ion-checkbox>
                  </div>
                  <div class="col-33">
                    <ion-checkbox ng-model='vm.healthData.tumorPu.janes.benjolan'>Benjolan</ion-checkbox>
                  </div>
                </div>
                <div class="row">
                  <ion-checkbox ng-model='vm.healthData.tumorPu.janes_kainnya_option'>Lainnya</ion-checkbox>
                </div>
                <div class="option_other" ng-show='vm.healthData.tumorPu.janes_kainnya_option'>
                  <div class="row">
                    <input type="text" placeholder="Enter" ng-model='vm.healthData.tumorPu.janes.kainnya'>
                  </div>
                </div>
              </div>
              <div class="row-no-padding">
                <div class="row">
                  <label class="item-stacked-label">
                <span class="input-label">Lokasi</span>
              </label>
                </div>
                <div class="row">
                  <div class="col-33">
                    <ion-checkbox ng-model='vm.healthData.tumorPu.lokasi.leher'>Leher</ion-checkbox>
                  </div>
                  <div class="col-33">
                    <ion-checkbox ng-model='vm.healthData.tumorPu.lokasi.lengan'>Lengan Kanan</ion-checkbox>
                  </div>
                  <div class="col-33">
                    <ion-checkbox ng-model='vm.healthData.tumorPu.lokasi.punggung'>Punggung</ion-checkbox>
                  </div>
                </div>
                <div class="row">
                  <ion-checkbox ng-model='vm.healthData.tumorPu.lokasi_lainnya_option'>Lainnya</ion-checkbox>
                </div>
                <div class="option_other" ng-show='vm.healthData.tumorPu.lokasi_lainnya_option'>
                  <div class="row">
                    <input type="text" placeholder="Enter" ng-model='vm.healthData.tumorPu.lokasi.lainnya'>
                  </div>
                </div>
              </div>
              <md-input-container class="md-block">
                <input type="date" placeholder="Kapan pertama kali mengalami / mengetahui gangguan tersebut?" onblur="(this.type='date')"
                  ng-model='vm.healthData.tumorPu.kapan_pertama'>
              </md-input-container>
              <div class="row-no-padding">
                <div class="row">
                  <button class="button  btn_next button-full" ng-class="{'button-dark': (vm.healthData.tumorPu.janes.tumor||vm.healthData.tumorPu.janes.kista||vm.healthData.tumorPu.janes.benjolan||vm.healthData.tumorPu.janes.kainnya)
              &&(vm.healthData.tumorPu.lokasi.leher||vm.healthData.tumorPu.lokasi.lengan||vm.healthData.tumorPu.lokasi.punggung||vm.healthData.tumorPu.lokasi.lainnya)&&vm.healthData.tumorPu.kapan_pertama}"
                    ng-disabled="(vm.healthData.tumorPu.janes.tumor==null&&vm.healthData.tumorPu.janes.kista==null&&vm.healthData.tumorPu.janes.benjolan==null&&vm.healthData.tumorPu.janes.kainnya==null)||
              (vm.healthData.tumorPu.lokasi.leher==null&&vm.healthData.tumorPu.lokasi.lengan==null&&vm.healthData.tumorPu.lokasi.punggung==null&&vm.healthData.tumorPu.lokasi.lainnya==null)||vm.healthData.tumorPu.kapan_pertama==null"
                    ng-click="vm.puNextStep('tumor_2')">
              <span>Berikutnya</span></button>

                </div>
              </div>
            </div>
            <!--end item-->
            <div class='item' id="tumor_2">
              <div class="row-no-padding">
                <div class="row">
                  <label class="item-stacked-label">
                <div class="input-label">Sudah operasi ?</div>
              </label>
                </div>
                <div class="row">
                  <div class="button-bar">
                    <a class="button col col-50" grouped-radio="true" ng-model="vm.healthData.tumorPu.sudah">Ya</a>
                    <a class="button col col-50" grouped-radio="false" ng-model="vm.healthData.tumorPu.sudah">Tidak</a>
                  </div>
                </div>
              </div>
              <div class="row-no-padding">
                <div class="row">
                  <div class="col-40">
                    <md-input-container class="md-block">
                      <md-select ng-model="vm.healthData.tumorPu.kapan_month_select" placeholder='Kapan'>
                        <md-option ng-repeat="m in vm.fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div class="col-20"></div>
                  <div class="col-40">
                    <md-input-container class="md-block">
                      <md-select ng-model="vm.healthData.tumorPu.kapan_year_select" placeholder='Year'>
                        <md-option ng-repeat="m in vm.fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
              </div>
              <div class="row-no-padding">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nama Dokter / Rumah Sakit</label>
                  <input type="text" ng-model="vm.healthData.tumorPu.nama_dokter" />
                </md-input-container>
              </div>
              <div class="row-no-padding">
                <h1 class="description">Jenis Operasi</h1>
                <ul>
                  <li class="item  item-checkbox">
                    <p>Angkat Rahim</p>
                    <label class="checkbox">
                  <input type="checkbox" ng-model='vm.healthData.tumorPu.jenis_operasi.rahim'>
              </label>
                    <ul ng-class="vm.healthData.tumorPu.jenis_operasi.rahim ? 'active':'disable'">
                      <li>
                        <div class="row">
                          <md-input-container class="md-block">
                            <md-select ng-model='tumor.angkat_tipe' placeholder='Tipe'>
                              <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                            </md-select>
                          </md-input-container>
                        </div>
                        <div class="row">
                          <div class="col">
                            <md-input-container class="md-block">
                              <md-select ng-model='tumor.angkat_kapan' placeholder='Kapan'>
                                <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                          <div class="col">
                            <md-input-container class="md-block">
                              <md-select ng-model='tumor.angkat_year' placeholder='Year'>
                                <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="item  item-checkbox">
                    <p>Angkat Payudara</p>
                    <label class="checkbox">
                  <input type="checkbox" ng-model='vm.healthData.tumorPu.jenis_operasi.payudara'>
              </label>
                    <ul ng-class="vm.healthData.tumorPu.jenis_operasi.payudara ? 'active':'disable'">
                      <li>

                        <div class="row">
                          <div class="col">
                            <md-input-container class="md-block">
                              <md-select ng-model='tumor.payudara_lama_select' placeholder='Lama di Rumah Sakit'>
                                <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                          <div class="col">
                            <md-input-container class="md-block">
                              <md-select ng-model='tumor.payudara_lama_select2' placeholder='Lama di Rumah Sakit'>
                                <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                        </div>
                        <div class="row">
                          <md-input-container class="md-block">
                            <md-select ng-model='tumor.payudara_hasil_select' placeholder='Hasil USG/Mamografi terbaru'>
                              <md-option ng-repeat="m in fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                            </md-select>
                          </md-input-container>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="row customize-cb">
                  <li class="item item-checkbox">
                    <p>Lainnya</p>
                    <label class="checkbox">
                <input type="checkbox" ng-model='vm.healthData.tumorPu.jenis_operasi.lainnya'>
              </label>
                    <input class="vertical-space" type="text" placeholder="Enter" ng-class="vm.healthData.tumorPu.jenis_operasi.lainnya ? 'active':'disable'"
                      ng-model='vm.healthData.tumorPu.lainnya_value'>
                  </li>
                </ul>
              </div>
              <div class="row-no-padding">
                <md-input-container class="md-block">
                  <md-select ng-model='vm.healthData.tumorPu.kategori_select' placeholder='Kategori Tumor'>
                    <md-option ng-repeat="m in vm.fakeoption" value="{{m.type}}">{{m.value}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div class="row-no-padding">
                <div class="row">
                  <button class="button button-full" ng-class="{'button-dark': (vm.healthData.tumorPu.sudah&&vm.healthData.tumorPu.kapan_month_select&&vm.healthData.tumorPu.kapan_year_select
&&vm.healthData.tumorPu.nama_dokter)&&(vm.healthData.tumorPu.jenis_operasi.rahim||vm.healthData.tumorPu.jenis_operasi.payudara||vm.healthData.tumorPu.jenis_operasi.lainnya||vm.healthData.tumorPu.kategori_select)}"
                    ng-disabled="vm.healthData.tumorPu.sudah==null||vm.healthData.tumorPu.kapan_month_select==null||vm.healthData.tumorPu.kapan_year_select==null||(vm.healthData.tumorPu.jenis_operasi.rahim==null&&vm.healthData.tumorPu.jenis_operasi.payudara==null&&vm.healthData.tumorPu.jenis_operasi.lainnya==null)||vm.healthData.tumorPu.kategori_select==null"
                    ng-click="vm.puNextStep('tumor_3')">
              <span>Berikutnya</span>
            </button>
                </div>
              </div>
            </div>


            <div class='item' id="tumor_3">
              <div class="row-no-padding">
                <h1 class="description">Pengobatan / Terapi / Tindakan yang pernah dianjurkan / dilakukan</h1>
                <ul>
                  <li class="item  item-checkbox">
                    <p>Obat</p>
                    <label class="checkbox">
                <input type="checkbox" ng-model='vm.healthData.tumorPu.pengo.obat_option'>
              </label>
                    <ul ng-class="vm.healthData.tumorPu.pengo.obat_option ? 'active':'disable'">
                      <li>
                        <div class="row">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Nama Obat</label>
                            <input type="text" />
                          </md-input-container>
                        </div>
                        <div class="row">
                          <h3 class="input-label description">Masih memakai obat ini</h3>
                        </div>
                        <div class="row">

                          <div class="button-bar">
                            <a class="button col col-50" grouped-radio="true" ng-model="tumor.obat_masih">Ya</a>
                            <a class="button col col-50" grouped-radio="false" ng-model="tumor.obat_masih">Tidak</a>
                          </div>
                        </div>
                      </li>
                      <!--end li-->
                    </ul>
                  </li>
                  <li class="item  item-checkbox">
                    <p>Radiography</p>
                    <label class="checkbox">
                <input type="checkbox"  ng-model='vm.healthData.tumorPu.pengo.radiography_option'>
              </label>
                    <ul ng-class="vm.healthData.tumorPu.pengo.radiography_option ? 'active':'disable'">
                      <li>
                        <div class="row">
                          <h3 class="input-label description">Masih memakai obat ini</h3>
                        </div>
                        <div class="row">

                          <div class="button-bar">
                            <a class="button col col-50" grouped-radio="true" ng-model="tumor.radiography_masih">Ya</a>
                            <a class="button col col-50" grouped-radio="false" ng-model="tumor.radiography_masih">Tidak</a>
                          </div>
                        </div>
                        <div class="row">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Nama Obat</label>
                            <input type="text" />
                          </md-input-container>
                        </div>
                      </li>
                      <!--end li-->
                    </ul>
                  </li>
                  <li class="item  item-checkbox">
                    <p>Chemography</p>
                    <label class="checkbox">
                <input type="checkbox"   ng-model='vm.healthData.tumorPu.pengo.chemography_option'>
              </label>
                    <ul ng-class="vm.healthData.tumorPu.pengo.chemography_option ? 'active':'disable'">
                      <li>
                        <div class="row">
                          <h3 class="input-label description">Masih memakai obat ini</h3>
                        </div>
                        <div class="row">

                          <div class="button-bar">
                            <a class="button col col-50" grouped-radio="true" ng-model="tumor.chemography_masih">Ya</a>
                            <a class="button col col-50" grouped-radio="false" ng-model="tumor.chemography_masih">Tidak</a>
                          </div>
                        </div>
                        <div class="row">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Nama Obat</label>
                            <input type="text" />
                          </md-input-container>
                        </div>
                      </li>
                      <!--end li-->
                    </ul>
                  </li>
                </ul>
                <ul class="row customize-cb">
                  <li class="item item-checkbox">
                    <p>Lainnya</p>
                    <label class="checkbox">
                <input type="checkbox" ng-model='vm.healthData.tumorPu.pengo.lainnya_option'>
              </label>
                    <input class="vertical-space" type="text" placeholder="Enter" ng-class="vm.healthData.tumorPu.pengo.lainnya_option ? 'active':'disable'">
                  </li>
                </ul>
              </div>

            </div>

          </div>
        </div>

      </ion-content>
    </md-dialog-content>

    <md-dialog-actions layout="row" class="layout-row">
      <button class="md-button button-full" type="button" ng-click="vm.closeDialog()">
        <span class="ng-scope">Selesai</span>
      </button>
    </md-dialog-actions>
  </form>
</md-dialog>