<ion-view cache-view="false" id="spaj-start">
  <ion-nav-title>
    <custom-header title='Pembayar premi / kontributor perorangan' step='4'></custom-header>
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div class="wrapper has-bottom-bar payor-page">
      <ng-form name='vm.payorDform'>
        <div class="list list-inset no-lines" id='payor-option1'>
          <!--start item-->
          <div class='item'>
            <div class="row-no-padding">
              <md-input-container class="md-block"  md-no-float >
                <label class="item-stacked-label">
                  <div class="input-label">Nama Lengkap <span class="input_red"></span></div>
                </label>
                <input ng-model="vm.payorDetail.nama" name='nama' ng-pattern="vm.pattern.textOnly" />
              </md-input-container>
              <p class="message" ng-show='vm.payorDform.nama.$invalid'>! Input salah, silakan masukkan huruf</p>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row">
                <div class="col-90 left_input_date">
                  <label>Tempat dan Tanggal Lahir</label>
                  <md-input-container  class="md-block"   md-no-float >
                    <input type="date" name='dob' placeholder="Tempat dan Tanggal Lahir" onblur="(this.type='date')" ng-model="vm.payorDetail.year" required>
                  </md-input-container>
                  <p class="message" ng-show='vm.payorDform.dob.$touched&&vm.payorDform.dob.$invalid'>! Silakan masukkan MMYYYY</p>
                </div>
                <div class="col-10 icon-calendar"> 
                    <i class="icon ion-android-calendar"></i>
                </div>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row">
                <label class="item-stacked-label">
                  <div class="input-label">Jenis Kelamin<span class="input_red"></span></div>
                </label>
              </div>
              <div class="row">
                <div class="row indent_row">
                  <div class="col-50">
                    <input name='jenis_kelamin' ng-model='vm.payorDetail.jenis_kelamin' class='custom_radio' type="radio" value='Pira' id="pira" required />
                    <label for="pira">Pria</label>
                  </div>
                  <div class="col-50">
                    <input  name='jenis_kelamin'  ng-model='vm.payorDetail.jenis_kelamin' class='custom_radio' type="radio" value='Wanita' id="wanita"  required/>
                    <label for="wanita">Wanita</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row align_column">
                <md-input-container class="md-block">
                    <md-select name='pernikahan' ng-model="vm.payorDetail.status_pernikahan" placeholder='Status Pernikahan' required>
                      <md-option ng-repeat="c in vm.questions.pernikahan" ng-value="c"  >
                          {{c}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <p class="message small-margin" ng-show='vm.payorDform.pernikahan.$touched&&vm.payorDform.pernikahan.$invalid'> Pertanyaan ini wajib diisi</p>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row  align_column">
                 <md-input-container class="md-block">
                    <md-select name='kelahiran' ng-model="vm.payorDetail.negara_kelahiran" placeholder='Negara Kelahiran' required>
                      <md-option ng-repeat="c in vm.questions.homeaddress" ng-value="c" >
                          {{c}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <p class="message small-margin" ng-show='vm.payorDform.kelahiran.$touched&&vm.payorDform.kelahiran.$invalid'> Pertanyaan ini wajib diisi</p>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row align_column">
                <md-input-container class="md-block">
                    <md-select name='kawarganegaraan' ng-model="vm.payorDetail.kawarganegaraan"  placeholder='Kawarganegaraan' required>
                      <md-option ng-repeat="c in vm.questions.kadaluwarsa" ng-value="c" >
                          {{c}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <p class="message small-margin" ng-show='vm.payorDform.kawarganegaraan.$touched&&vm.payorDform.kawarganegaraan.$invalid'> Pertanyaan ini wajib diisi</p>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">         
               <md-input-container class="md-block"  md-no-float >
                <label class="item-stacked-label">
                   No Identitas
                </label>
                <input name='no_identitas' type="number" ng-model="vm.payorDetail.no_identitas" required/>
              </md-input-container>
               <p class="message" ng-show='vm.payorDform.no_identitas.$touched&&vm.payorDform.no_identitas.$invalid'> Pertanyaan ini wajib diisi (Numbers only)</p>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row align_column">
                <md-input-container class="md-block">
                    <md-select name='pekerjaan' ng-model="vm.payorDetail.pekerjaan"  placeholder='Pekerjaan' required>
                      <md-option ng-repeat="c in vm.questions.kadaluwarsa" ng-value="c" >
                          {{c}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <p class="message small-margin" ng-show='vm.payorDform.pekerjaan.$touched&&vm.payorDform.pekerjaan.$invalid'> Pertanyaan ini wajib diisi</p>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row">
                <label class="item-stacked-label">
                  <div class="input-label">Kadaluwarsa</div>
                </label>
              </div>
              <div class="row">
                <div class="row indent_row">
                  <div class="col-50">
                    <input ng-model='vm.payorDetail.kadaluwarsa' class='custom_radio ' type="radio" value='seumur_hidup' id="seumur_hidup" required/>
                    <label for='seumur_hidup'>Seumur hidup</label>
                  </div>
                  <div class="col-50">
                    <input ng-model='vm.payorDetail.kadaluwarsa' class='custom_radio ' type="radio" value='tidak' id="tidak"  required/>
                    <label for="tidak">Tidak</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row">
                <label class="item-stacked-label">
                  <div class="input-label">Kadaluwarsa Identitas</div>
                </label>
              </div>
              <div class="row left_input_date input_full_width row-no-padding">
                <div class="col col-90">
                <md-input-container  class="md-block"   md-no-float >
                  <input name='kadaluwarsa' type="date" placeholder="DD/MM/YYYY"  ng-model="vm.payorDetail.kadaluwarsa_select" required>
                </md-input-container>
                <p class="message" ng-show='vm.payorDform.kadaluwarsa.$touched&&vm.payorDform.kadaluwarsa.$invalid'>! Silakan masukkan MMYYYY</p>
                </div>
                <div class="col col-10 icon-calendar">
                  <i class="icon ion-android-calendar"></i>
                </div>
              </div>
            </div>
          </div>
           <!--end item-->

          
          <div class='item '>
            <div class="row-no-padding">
              <md-input-container class="md-block"  md-no-float >
                <label class="item-stacked-label">
                   No NPWP
                </label>
                <input name='no_npwp' type="number"  ng-model="vm.payorDetail.no_npwp" required/>
              </md-input-container>
              <p class="message" ng-show='vm.payorDform.no_npwp.$touched&&vm.payorDform.no_npwp.$invalid'> Pertanyaan ini wajib diisi (Numbers only)</p>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row">
                <label class="item-stacked-label">
                  <div class="input-label">Pekerjaan</div>
                </label>
              </div>
              <div class="row">
                <md-autocomplete class="md-block"
                    md-selected-item="selectedItem"
                    md-search-text="searchText"
                    md-items="item in querySearch(searchText)"
                    md-item-text="item.name"
                    md-min-length="0">
                  <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                  </md-item-template>
                </md-autocomplete>
              </div>
            </div>
          </div>
         
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row align_column">
                <md-input-container class="md-block">
                    <md-select name='department' ng-model="vm.payorDetail.department"  placeholder='Department' required>
                      <md-option ng-repeat="c in vm.questions.kadaluwarsa" ng-value="c" >
                          {{c}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <p class="message small-margin" ng-show='vm.payorDform.department.$touched&&vm.payorDform.department.$invalid'> Pertanyaan ini wajib diisi</p>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row align_column">
                <md-input-container class="md-block">
                    <md-select name='jabatan' ng-model="vm.payorDetail.jabatan"  placeholder='Jabatan/ Pangkat / Golongan' required>
                      <md-option ng-repeat="c in vm.questions.kadaluwarsa" ng-value="c" >
                          {{c}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <p class="message small-margin" ng-show='vm.payorDform.jabatan.$touched&&vm.payorDform.jabatan.$invalid'> Pertanyaan ini wajib diisi</p>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class="item">
          <div class="row align_column">
              <md-input-container class="md-block"  md-no-float >
                  <label class="item-stacked-label">
                    Nama Perusahaan Tempat Bekerja 
                  </label>
                  <input  name='nama_perusahaan'  ng-model="vm.payorDetail.nama_perusahaan"  ng-pattern='vm.pattern.alphanumeric' required/>
                </md-input-container>
                <p class="message" ng-show='vm.payorDform.nama_perusahaan.$touched&&vm.payorDform.nama_perusahaan.$invalid'>! Input salah, silakan masukkan huruf
</p>
              </div>
              <div class="row  align_column">
                <md-input-container class="md-block"  md-no-float >
                  <label class="item-stacked-label">
                   Alamat Kantor 
                  </label>
                  <input name='alamat2' type="text"   ng-model="vm.payorDetail.alamat2" ng-pattern="vm.pattern.alphanumeric" required/>
                </md-input-container>
                <p class="message" ng-show='vm.payorDform.alamat2.$touched&&vm.payorDform.alamat2.$invalid'> ! Input salah, silakan masukkan angka
</p>
              </div>
          </div><!--end item-->
          <!--end item-->
          <div class='item ' ng-repeat="(index, phone) in vm.phones.office">
            <div class="row-no-padding">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <label class="item-stacked-label">
                      <div class="input-label">No. Tel. Kantor <span class="input_red"></span></div>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-40">
                      <select class="form_select reset_threecol">
                        <option selected value>+62</option>
                        <option>+61</option>
                        <option>+60</option>
                        <option>+59</option>
                      </select>
                    </div>
                    <div class="col-60"><input type="number" name='no_tel_kantor{{$index}}' placeholder="XXX  XXXXXXXX" ng-model='phone.phone_home' required></div>
                  </div>
                  <div class="row"><p class="message" ng-show='vm.payorDform.no_tel_kantor{{$index}}.$touched&&vm.payorDform.no_tel_kantor{{$index}}.$invalid'>! Input salah, silakan masukkan angka</p></div>
                </div>

              </div>
            </div>
          </div>
          <!--end item-->
          <div class="item">
            <div class="row row-no-padding" style="position:relative">
              <button class="button button-full button-block button-light" ng-click="vm.addPhone('office')">
                <i class="icon ion-ios-plus-empty"></i> <span> Tambah No. Tel. Kantor</span>
              </button>
               <button class="button btn_removeMember" ng-if="vm.phones.office.length>1" ng-click="vm.removePhone('office')">
                <i class="icon ion-ios-trash-outline"></i>
              </button>
            </div>
          </div>

          <div class='item '>
            <div class="row-no-padding">
              <div class="row">
                <label class="item-stacked-label">
                  <span class="input-label">Status Tempat Tinggal *</span>
                </label>home
              </div>
              <div class="row">
                <div class="col col-30">
                  <input name='home_status' ng-model="vm.payorDetail.homeStatus" class='custom_radio' type="radio" value="milik_sendiri" id="milik_sendiri"   required/>
                  <label class='' for="milik_sendiri">Milik Sendiri</label>
                </div>
                <div class="col col-30">
                  <input name='home_status' ng-model="vm.payorDetail.homeStatus" class='custom_radio' type="radio" value="milik_keluarga" name="milik_keluarga" id="milik_keluarga"  required
                  />
                  <label class='' for="milik_keluarga">Milik Keluarga</label>
                </div>
                <div class="col col-30">
                  <input name='home_status' ng-model="vm.payorDetail.homeStatus" class='custom_radio' type="radio" value="rumah_dinas" name="rumah_dinas" id="rumah_dinas"  required
                  />
                  <label class='' for="rumah_dinas">Rumah Dinas</label>
                </div>
              </div>
              <div class="row">
                <div class="col col-30">
                  <input name='home_status' ng-model="vm.payorDetail.homeStatus" class='custom_radio' type="radio" value="kost" name="kost" id="kost"  required/>
                  <label class='' for="kost">Kost</label>
                </div>
                <div class="col col-30">
                  <input name='home_status' ng-model="vm.payorDetail.homeStatus" class='custom_radio' type="radio" value="sewa" name="sewa" id="sewa"  required/>
                  <label class='' for="sewa">Sewa</label>
                </div>
                 <div class="col col-30"></div>
              </div>
              <div class="row align_column" >
                <div class="row">
                  <input ng-model="vm.payorDetail.homeStatus" class='custom_radio' type="radio" value="lainnya" name="lainnya" id="lainnya"  required/>
                  <label class='' for="lainnya">Lainnya</label>
                </div>
                <div class="row  align_column"  style="margin-left: 35px;" ng-show="vm.payorDetail.homeStatus=='lainnya'">
                  <input type="text" placeholder="Enter" name='lainnya_other' ng-model='vm.payorDetail.homeStatus2' ng-pattern='vm.pattern.textOnly' ng-required="vm.payorDetail.homeStatus=='lainnya'">
                  <p class="message" ng-show="vm.payorDform.lainnya_other.$touched&&vm.payorDform.lainnya_other.$invalid">! Input salah, silakan masukkan huruf</p>
                </div>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row">
                <label class="item-stacked-label">
                  <div class="input-label">Alamat Tempat Tinggal<span class="input_red"></span></div>
                </label>
              </div>
              <div class="row">
                <div class="row indent_row">
                  <div class="col-50">
                    <input name='iaddress' ng-model="vm.payorDetail.iaddress" class='custom_radio' type="radio" value="address_indonesia" id="address_indonesia" required/>
                    <label for="address_indonesia">Indonesia</label>
                  </div>
                  <div class="col-50">
                    <input name='iaddress' ng-model="vm.payorDetail.iaddress" class='custom_radio' type="radio" value="address_diluar_indonesia" id="address_diluar_indonesia"  required
                    />
                    <label for="address_diluar_indonesia">Diluar Indonesia</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row align_column">
                <md-input-container class="md-block"  md-no-float >
                  <label class="item-stacked-label">
                   Alamat
                  </label>
                  <input name='alamat' type="text"  ng-model="vm.payorDetail.alamat " required/>
                </md-input-container>
                <p class="message" ng-show='vm.payorDform.alamat.$touched&&vm.payorDform.alamat.$invalid'> ! Input salah, silakan masukkan angka
</p>
              </div>
              <div class="row">
                <md-input-container class="md-block"  md-no-float >
                  <label class="item-stacked-label">
                    Kode Pos
                  </label>
                  <input   ng-model="vm.payorDetail.kode_pos" name/>
                </md-input-container>
              </div>
              <div class="row">
                <div class="col-50">
                   <md-input-container class="md-block"  md-no-float >
                    <label class="item-stacked-label">
                      Provinsi
                    </label>
                    <input name='provinsi'  ng-model="vm.payorDetail.provinsi" ng-pattern='vm.pattern.textOnly' required/>
                  </md-input-container>
                  <p class="message" ng-show='vm.payorDform.provinsi.$touched&&vm.payorDform.provinsi.$invalid'>! Input salah, silakan masukkan huruf
</p>
                </div>
                <div class="col-50">
                  <md-input-container class="md-block"  md-no-float >
                    <label class="item-stacked-label">
                      Kabupaten / Kota
                    </label>
                    <input name='kabupaten_kota'  ng-model="vm.payorDetail.kabupaten_kota"  ng-pattern='vm.pattern.textOnly' required/>
                  </md-input-container>
                  <p class="message" ng-show='vm.payorDform.kabupaten_kota.$touched&&vm.payorDform.kabupaten_kota.$invalid'>! Input salah, silakan masukkan huruf
</p>
                </div>
              </div>
               <div class="row">
                <div class="col-50">
                  <md-input-container class="md-block"  md-no-float >
                    <label class="item-stacked-label">
                      <div class="input-label">Kecamatan</div>
                    </label>
                    <input   ng-model="vm.payorDetail.kecamatan" name/>
                  </md-input-container>
                </div>
                <div class="col-50">
                
                  <md-input-container class="md-block"  md-no-float >
                    <label class="item-stacked-label">
                      <div class="input-label">Kelurahan</div>
                    </label>
                    <input   ng-model="vm.payorDetail.kelurahan" name/>
                  </md-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-33">
                   <md-input-container class="md-block"  md-no-float >
                    <label class="item-stacked-label">
                      <div class="input-label">RW</div>
                    </label>
                    <input   ng-model="vm.payorDetail.rw1" name/>
                  </md-input-container>
                </div>
                <div class="col-33">
                  <md-input-container class="md-block"  md-no-float >
                    <label class="item-stacked-label">
                      <div class="input-label">RW</div>
                    </label>
                    <input   ng-model="vm.payorDetail.rw2" name/>
                  </md-input-container>
                </div>
                <div class="col-33">
                  <md-input-container class="md-block"  md-no-float >
                    <label class="item-stacked-label">
                      <div class="input-label">RW</div>
                    </label>
                    <input   ng-model="vm.payorDetail.rw3" name/>
                  </md-input-container>
                </div>
              </div>
              
              
              <div class='item ' ng-repeat="(index, phone) in vm.phones.home">
            <div class="row-no-padding">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <label class="item-stacked-label">
                      <div class="input-label">No. Tel. Rumah<span class="input_red"></span></div>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-40">
                      <select class="form_select reset_threecol">
                        <option selected value>+62</option>
                        <option>+61</option>
                        <option>+60</option>
                        <option>+59</option>
                      </select>
                    </div>
                    <div class="col-60"><input type="number" name='no_tel_rumah{{$index}}' placeholder="XXX  XXXXXXXX" ng-model='phone.phone_home' required></div>
                  </div>
                  <div class="row"><p class="message" ng-show='vm.payorDform.no_tel_rumah{{$index}}.$touched&&vm.payorDform.no_tel_rumah{{$index}}.$invalid'>! Input salah, silakan masukkan angka</p></div>
                </div>

              </div>
            </div>
          </div>
          <!--end item-->
          <div class="item">
            <div class="row row-no-padding"  style="position:relative">
              <button class="button button-full button-block button-light" ng-click="vm.addPhone('home')">
                <i class="icon ion-ios-plus-empty"></i> <span> Tambah No. Tel. Rumah</span>
              </button>
              <button class="button btn_removeMember" ng-if="vm.phones.home.length>1" ng-click="vm.removePhone('home')">
                <i class="icon ion-ios-trash-outline"></i>
              </button>
            </div>
          </div>
          <div class='item ' ng-repeat="(index, phone) in vm.phones.gsm">
            <div class="row-no-padding">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <label class="item-stacked-label">
                      <div class="input-label">No. HP/GSM<span class="input_red"></span></div>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col col-40">
                      <select class="form_select reset_threecol">
                        <option selected value>+62</option>
                        <option>+61</option>
                        <option>+60</option>
                        <option>+59</option>
                      </select>
                    </div>
                    <div class="col  col-60"><input type="number" name='no_tel_gsm{{$index}}' placeholder="XXX  XXXXXXXX" ng-model='phone.phone_home' required></div>
                  </div>
                  <div class="row"><p class="message" ng-show='vm.payorDform.no_tel_gsm{{$index}}.$touched&&vm.payorDform.no_tel_gsm{{$index}}.$invalid'>! Input salah, silakan masukkan angka</p></div>
                </div>

              </div>
            </div>
          </div>
          <!--end item-->
          <div class="item">
            <div class="row row-no-padding" style="position:relative">
              <button class="button button-full button-block button-light" ng-click="vm.addPhone('gsm')">
                <i class="icon ion-ios-plus-empty"></i> <span> Tambah No. HP/GSM</span>
              </button>
              <button class="button btn_removeMember" ng-if="vm.phones.gsm.length>1" ng-click="vm.removePhone('gsm')">
                <i class="icon ion-ios-trash-outline"></i>
              </button>
            </div>
          </div>
              
              
               
             
            </div>
          </div>
          
          <!--end item-->
          <div class="item">
            <label>Sumber penghasilan rutin per bulan</label>
            <div class="row responsive-sm">
              <div class="col-50">
                <ion-checkbox class="policy-checkbox" ng-model="vm.payorDetail.penghasilan_gaji">Gaji</ion-checkbox>
              </div>
              <div class="col-50">
                <ion-checkbox class="policy-checkbox"  ng-model="vm.payorDetail.penghasilan_komisi">Komisi</ion-checkbox>
              </div>
            </div>
            <div class="row responsive-sm">
              <div class="col-50">
                <ion-checkbox class="policy-checkbox" ng-model="vm.payorDetail.penghasilan_orang">Orang Tua</ion-checkbox>
              </div>
              <div class="col-50">
                <ion-checkbox class="policy-checkbox" ng-model="vm.payorDetail.penghasilan_laba">Laba Perusahaan</ion-checkbox>
              </div>
            </div>
            <div class="row responsive-sm">
              <div class="col-50">
                <ion-checkbox class="policy-checkbox" ng-model="vm.payorDetail.penghasilan_investasi">Investasi</ion-checkbox>
              </div>
              <div class="col-50">
                <ion-checkbox class="policy-checkbox" ng-model="vm.payorDetail.penghasilan_bonus">Bonus</ion-checkbox>
              </div>
            </div>
            <div class="row">
              <input  class="other_option" type="text" ng-show='vm.payorDetail.penghasilan_investasi' placeholder="Enter">
            </div>
            <div class="row responsive-sm">
              <ion-checkbox class="policy-checkbox" ng-model="vm.payorDetail.penghasilan_bisnis">Bisnis Sendiri</ion-checkbox>
            </div>
            <div class="row">
              <input  class="other_option" type="text" ng-show='vm.payorDetail.penghasilan_bisnis' placeholder="Enter">
            </div>
            <div class="row responsive-sm">
              <ion-checkbox class="policy-checkbox" ng-model="vm.payorDetail.penghasilan_lainnya">Lainnya</ion-checkbox>
            </div>
            <div class="row">
              <input class="other_option" type="text" ng-show='vm.payorDetail.penghasilan_lainnya' placeholder="Enter">
            </div>
            <div class="row responsive-sm">
              <ion-checkbox class="policy-checkbox" ng-model="vm.payorDetail.penghasilan_tidak">Tidak Berpenghasilan</ion-checkbox>
            </div>
          </div>
          <!--end item-->
          <div class='item '>
            <div class="row-no-padding">
              <div class="row">
              <md-input-container class="md-block">
                <md-select name='total_penghasilan' ng-model="vm.payorDetail.total_penghasilan" placeholder='Total penghasilan rutin per bulan' required>
                  <md-option ng-repeat="c in vm.questions.pernikahan" ng-value="c"  >
                    {{c}}
                  </md-option>
                </md-select>
              </md-input-container>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class="item">
            <h1 class="text-center description bold">Apakah (Calon) Pembayar Premi/Kontributor memiliki pekerjaan/usaha/bisnis lain di luar pekerjaan utama?</h1>
            <div class="button-bar">
              <a class="button col col-50" grouped-radio="true"  ng-model="vm.payorDetail.utama">Ya</a>
              <a class="button col col-50" grouped-radio="false" ng-model="vm.payorDetail.utama">Tidak</a>
            </div>
            <div class="mt-30" ng-show="vm.payorDetail.utama==true">
              <input type="text" placeholder="Enter">
            </div>
          </div>
          <!--end item-->
        </div>
      </ng-form>
    </div>
  </ion-content>
   <ion-footer-bar class="bar bar-footer bar-assertive">
    <a ng-click="vm.save()" title="Lanjutkan" class="btn">Lanjutkan<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </ion-footer-bar>
</ion-view>