<div class="list list-inset">
<div class="item">
  <h1 class="description">Apakah ada di antara immediate family*/anggota keluarga** dari Calon Tertanggung (hidup atau meninggal) yang pernah menderita
    penyakit Jantung Koroner / Stroke / Diabetes Mellitus / Kanker / Kelainan Bawaan atau Congenital/ Penyakit lainnya?</h1>
  <div class="row">
     <div class="button-bar">
        <a class="button col col-50" grouped-radio="1" ng-model="vm.family_history.question">Ya</a>
        <a class="button col col-50" grouped-radio="0" ng-model="vm.family_history.question">Tidak</a>
      </div>
  </div>
</div>

<div class="item" ng-show="vm.family_history.question">
  <ul>
    <li class="clearfix m-gap-30" ng-repeat="item in vm.family_history.membersInfo">
      <div class="float-left col-5 col-padding"><span class="row-number">{{$index + 1}}</span></div>
      <div class="float-left col-95 text-left">
        <div class="row row-no-padding ">
          <div class="col col-33 col-padding">
            <md-input-container class="select-box">
              <label class="input-label">Tipe Asuransi2</label>
              <md-select ng-model="vm.data.policy[index].insurance_type">
                <md-option ng-repeat="type in vm.relationshipType" ng-value="{{type.value}}">
                  {{type.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="col col-33 col-padding">
            <md-input-container class="select-box">
              <label class="input-label">Perusahaan</label>
              <md-select ng-model="vm.data.policy[index].insurance_type">
                <md-option ng-repeat="type in vm.relationshipType"  ng-value="{{type.value}}">
                  {{type.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="col col-33 col-padding">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Uang Pertanggungan</label>
              <input placeholder="Enter" ng-model="item.age_diagnosis" />
            </md-input-container>
          </div>
        </div>
        <div class="m-gap-20 col-padding">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Tipe Kanker</label>
            <input placeholder="Enter"  ng-model="item.type_of_cancer" />
          </md-input-container>
        </div>
        <div class="m-gap-20 col-padding">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Jenis Gangguan</label>
            <input placeholder="Enter" ng-model="item.type_of_disorder" />
          </md-input-container>
        </div>
      </div>
    </li>
  </ul>
  <div class="clearfix"></div>
  <div class="mt-30"><button class="button button-stable button-block float-right col-95" ng-click="vm.addMember()">  <i class="ion-ios-plus-empty"></i> <span class="txt-add-policy"> Tambah Anggota Keluarga</span></button></div>
  <div class="clearfix"></div>
</div>
</div>