<div class="list list-inset">
<div class="item">
  <h1 class="description">Apakah ada di antara immediate family*/anggota keluarga** dari Calon Tertanggung (hidup atau meninggal) yang pernah menderita
    penyakit Jantung Koroner / Stroke / Diabetes Mellitus / Kanker / Kelainan Bawaan atau Congenital/ Penyakit lainnya?</h1>
  <div class="row">
    <div class="col col-padding">
      <button class="button button-stable button-block btn-insurance" ng-class="vm.family_history.question == 1? 'button-active': ''"
        ng-click="vm.setValueQuestion(1)"><span>Ya</span></button>
    </div>
    <div class="col col-padding">
      <button class="button button-stable button-block btn-insurance" ng-class="vm.family_history.question == 0? 'button-active': ''"
        ng-click="vm.setValueQuestion(0)"><span>Tidak</span></button>
    </div>
  </div>
</div>

<div class="item">
  <ul>
    <li class="clearfix m-gap-30" ng-repeat="item in vm.family_history.membersInfo">
      <div class="float-left col-5 col-padding"><span class="row-number">{{$index + 1}}</span></div>
      <div class="float-left col-95 text-left">
        <div class="row row-no-padding ">
          <div class="col col-33 col-padding">
            <label>Tipe Asuransi</label>
            <select class="form-input">
              <option ng-repeat="type in vm.relationshipType" value="{{type.value}}">{{type.name}}</option>
            </select>
          </div>
          <div class="col col-33 col-padding">
            <label>Perusahaan</label>
            <select class="form-input">
              <option ng-repeat="type in vm.relationshipType" value="{{type.value}}">{{type.name}}</option>
            </select>
          </div>
          <div class="col col-33 col-padding">
            <label>Uang Pertanggungan</label>
            <input type="text" class="form-input" placeholder="Enter" ng-model="item.age_diagnosis">
          </div>
        </div>
        <div class="m-gap-20 col-padding">
          <div>Tipe Kanker</div>
          <div>
            <input type="text" class="form-input" placeholder="Enter" ng-model="item.type_of_cancer">
          </div>
        </div>
        <div class="m-gap-20 col-padding">
          <div>Jenis Gangguan</div>
          <div>
            <input type="text" class="form-input" placeholder="Enter" ng-model="item.type_of_disorder">
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="clearfix"></div>
  <div class="mt-30"><button class="button button-stable button-block float-right col-95" ng-click="vm.addMember()">  <i class="ion-ios-plus-empty"></i> <span class="txt-add-policy"> Tambah Anggota Keluarga</span></button></div>
  <div class="clearfix"></div>
</div>
</div>