<ion-view cache-view="false" id="other-health">
  <ion-nav-title>
    <custom-header title='Sebelum Anda melanjutkan' step='3'></custom-header>
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div class="header-tab">
      <div class='row tab-menu'>
        <div class="col" ng-repeat="tab in vm.tabs" ng-class="vm.currentTab==tab.value? 'active': ''" ng-click="vm.switchTab(tab.value)">
          <span class='d-table'><span class="d-table-cell">{{ tab.title}}</span></span>
        </div>
      </div>
    </div>
    <div class="wrapper text-center has-bottom-bar padding-bottom" on-swipe='vm.handleSwipe($event)'>
      <div ng-if="vm.currentTab=='major_insured'" ng-include="'views/spaj/policy/step3/other_health_major_insured.html'"></div>
      <div ng-if="vm.currentTab=='additional_insured_1'" ng-include="'views/spaj/policy/step3/other_health_additional_insured_1.html'"></div>
      <div ng-if="vm.currentTab=='additional_insured_2'" ng-include="'views/spaj/policy/step3/other_health_additional_insured_2.html'"></div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-assertive">
    <a ng-click="vm.save()" title="Lanjutkan" class="btn">Lanjutkan<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </ion-footer-bar>
</ion-view>