<div class="item">
  <h1 class="description">Apakah Calon Tertanggung memiliki hobi atau sewaktu-waktu melakukan kegiatan yang berisiko tinggi atau CalonTertanggung masih aktif dalam pekerjaan berisiko tinggi tersebut di bawah ini?</h1>
  <div class="row">
     <div class="button-bar">
        <a class="button col col-50" grouped-radio="1" ng-model="vm.risk_hobby.question">Ya</a>
        <a class="button col col-50" grouped-radio="0" ng-model="vm.risk_hobby.question">Tidak</a>
      </div>
  </div>
</div>
<div class="item mt-50">
  <ul>
    <li class="m-gap-30" >
      <button class="button button-stable button-block">Menyelam / Olahraga Air selain Menyelam</button>
    </li>
    <li class="m-gap-20" >
      <button class="button button-stable button-block">Caving & Potholing / Panjat Tebing / Mendaki Gunung</button>
    </li>
    <li class="m-gap-20" >
      <button class="button button-stable button-block">Terjun Payung / Paralayang / Microlighting</button>
    </li>
    <li class="m-gap-20" >
      <button class="button button-stable button-block">Balap Motor / Mobil</button>
    </li>
  </ul>
</div>
