<div class="item">
  <h1 class="description">Apakah Calon Tertanggung memiliki hobi atau sewaktu-waktu melakukan kegiatan yang berisiko tinggi atau CalonTertanggung masih aktif dalam pekerjaan berisiko tinggi tersebut di bawah ini?</h1>
  <div class="row">
    <div class="col col-padding">
      <button class="button button-stable button-block btn-insurance" ng-class="vm.risk_hobby.question == 1? 'button-active': ''" ng-click="vm.setValueQuestion(1)"><span>Ya</span></button>
    </div>
    <div class="col col-padding">
      <button class="button button-stable button-block btn-insurance" ng-class="vm.risk_hobby.question == 0? 'button-active': ''" ng-click="vm.setValueQuestion(0)"><span>Tidak</span></button>
    </div>
  </div>
</div>
<div class="item mt-50">
  <ul>
    <li class="m-gap-30" >
      <button class="button button-stable button-block">Menyelam / Olahraga Air selain Menyelam</button>
    </li>
    <li class="m-gap-20" >
      <button class="button button-stable button-block">Caving & Potholing / Panjat Tebing / Mendaki Gunung</button>
    </li>
    <li class="m-gap-20" >
      <button class="button button-stable button-block">Terjun Payung / Paralayang / Microlighting</button>
    </li>
    <li class="m-gap-20" >
      <button class="button button-stable button-block">Balap Motor / Mobil</button>
    </li>
  </ul>
</div>
