<ion-view cache-view="false" id="spaj-start">
<ion-nav-title>
    <custom-header title='Sebelum Anda melanjutkan'></custom-header>
  </ion-nav-title>

  <ion-content>
    <step-process></step-process>
  
    <div class="list list-inset" id="top_up">
      <div ng-if="vm.isShowForm">
        <div class="item">
          <h1 class="description">Apakah Anda ingin mengajukan <br/>penambahan dana (Top-Up) untuk polis ini?</h1>
          <div class="row no-padding-top">
            <div class="col col-50">
              <button class="button button-block " ng-class="vm.data.is_additional_funds == true? 'button-dark': ''" ng-click="vm.data.is_additional_funds = true">Ya</button>
            </div>
            <div class="col col-50">
              <button class="button button-block" ng-class="vm.data.is_additional_funds == false? 'button-dark': ''" ng-click="vm.data.is_additional_funds = false">Tidak</button>
            </div>
          </div>
        </div>
        <div id="health_respiratory" ng-if="vm.data.is_additional_funds == true">
          <div id="policy_info_ph_info" class="list list-inset no-lines">
            <div class="center_txt">Saya mengkonfirmasi bahwa saya</div>
            <div class='item'>
              <div class="row-no-padding">
                <div class="row">
                  <input ng-model="vm.data.type_of_policy_number" value="1" class="custom_radio" type="radio" ng-value="true" id="have_policy_number1" name="have_policy_number" aria-invalid="false" checked>
                  <label class="" for="have_policy_number1">Belum memiliki nomor Polis*</label>
                </div>
                <div class="checkbox_child">
                  <div class="row">
                    <div class='item inside_check'>
                      <div class="row-no-padding">
                        <div class="row">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Nomor SPAJ</label>
                            <input type="text" ng-model="vm.data.name_of_policyholder" required />
                          </md-input-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <input ng-model="vm.data.type_of_policy_number" class="custom_radio" type="radio" value="2" id="have_policy_number2" name="have_policy_number" aria-invalid="false">
                  <label class="" for="have_policy_number2">Sudah memiliki Polis</label>
                </div>
                <div class="checkbox_child">
                  <div class="row">
                    <div class='item inside_check'>
                      <div class="row-no-padding">
                        <div class="row">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Nama Pemegang Polis</label>
                            <input type="text" ng-model="vm.data.name_of_policy" required />
                          </md-input-container>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class='item inside_check'>
                      <div class="row-no-padding">
                        <div class="row">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Nomor Polis</label>
                            <input type="text" ng-model="vm.data.policy_number" required />
                          </md-input-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <input ng-model="vm.data.type_of_policy_number" class="custom_radio" type="radio" value="3" id="have_policy_number3" name="have_policy_number" aria-invalid="false">
                  <label class="" for="have_policy_number3">Sudah memiliki Polisi - membeli melalui bank</label>
                </div>
                <div class="checkbox_child">
                  <div class="row">
                    <div class='item inside_check'>
                      <div class="row-no-padding">
                        <div class="row">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Nama Pemberi Referral</label>
                            <input type="text" ng-model="vm.data.name_of_referral_giver" required />
                          </md-input-container>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class='item inside_check'>
                      <div class="row-no-padding">
                        <div class="row">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label>Nomor Kode Referral</label>
                            <input type="text" ng-model="vm.data.referral_code_number" required />
                          </md-input-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-class="vm.data.is_additional_funds == false? 'disabled-content': ''">
        <div class="no_bg">
          <div class='item'>
            <div class="row-no-padding">
              <div class="row">
                <label class="item-stacked-label center_txt">Jumlah Top-Up</label>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class="row-no-padding">
              <div class="row">
                <div class="col-40">
                  <div class="row">
                    <label class="item-stacked-label">Jenis Mata Uang</label>
                  </div>
                  <div class="row">
                    <div class="col">
                      <md-input-container class="md-block mt-0">
                        <md-select ng-model="vm.data.currency">
                          <md-option ng-repeat="c in vm.currencies" value="{{c.value}}" ng-selected="$first">{{c.name}}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>
                </div>
                <div class="col-20"></div>
                <div class="col-40">
                  <div class="row">
                    <label class="item-stacked-label">Jumlah Top-Up</label>
                  </div>
                  <div class="row">
                    <div class="col"><input type="text" placeholder="260.000.000" ng-model="vm.data.top_up_amount" ng-blur="vm.checkShowForm()"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="item">
            <div class="row-no-padding">
              <div class="row">
                <div class="button-block add_icon" ng-click='vm.addInsuredAddress()'>
                  <a class="button" >Berikutnya</a>
                </div>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class="row-no-padding">
              <div class="row">
                <label class="item-stacked-label center_txt">Alokasi Dana Tujuan Top-Up</label>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class="row-no-padding">
              <div class="clearfix" ng-repeat="item in vm.data.top_up_destination_fund_allocation">
                <div class="float-left col-5"><span class="row-number sm-font">{{$index + 1}}</span></div>
                <div class="float-left col-95">
                  <div class="row row-no-padding">
                    <div class="col-50">
                      <div class="sm-font">Jenis Dana Investasi Non-Syariah</div>
                      <div class="">
                        <md-input-container class="md-block mt-0" >
                          <md-select ng-model="item.type_of_investment_fund">
                            <md-option ng-repeat="t in vm.type_of_investment_fund" value="{{t.value}}" ng-selected="$first">{{t.name}}</md-option>
                          </md-select>
                        </md-input-container>
                      </div>
                    </div>
                    <div class="col-10"></div>
                    <div class="col-30">
                      <div class="sm-font">%</div>
                      <div class="">
                        <input type="text" placeholder="Enter" ng-model="item.investment_fund_percent">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <di class="row-no-padding">
              <div class="row">
                <div class="button-block add_icon" ng-click='vm.addTopUpDestinationFund()'>
                  <a class="button" ><i class="icon ion-ios-plus-empty"></i> <span>Tambah Dana Investasi</span></a>
                </div>
              </div>
            </di>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-assertive">
    <div ng-click="vm.next()" title="Lanjutkan" class="btn">Lanjutkan<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></div>
  </ion-footer-bar>
</ion-view>