<ion-view cache-view="false" id="top_up_payor_detail">
<ion-nav-title>
    <custom-header title='PEMBAYAR TOP-UP'></custom-header>
  </ion-nav-title>

  <ion-content>
    <step-process></step-process>
    <form id="health_respiratory">
      <div id="policy_info_ph_info" class="list list-inset no-lines">
        <div class="center_txt_end left_text">(Calon) Pembayar Premi / Kontributor adalah Perorangan, dan hubungan dengan ( Calon ) Pemegang Polis adalah</div>
        <div class='item'>
          <div class="row-no-padding">
            <div class="row">
              <label class="item-stacked-label">
                <span class="input-label">Jenis kelainan yang diderita</span>
              </label>
            </div>
            <div class="row">
              <div class="col-50">
                <input ng-model="vm.data.type_of_abnormality_suffered"  ng-value="1" value="Orang Tua" id='OrangTua' type="radio" name='kadaluwarasa' />
                <label class='' for="OrangTua">Orang Tua</label>
              </div>
              <div class="col-50">
                <input ng-model="vm.data.type_of_abnormality_suffered" value="2" id='SuamidanIstri' type="radio" name='kadaluwarasa' />
                <label class='' for="SuamidanIstri">Suami dan Istri </label>
              </div>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class="row-no-padding">
            <div class="row">
              <div class="col-50">
                <input ng-model="vm.data.type_of_abnormality_suffered" value="3" id='Anak' type="radio" name='kadaluwarasa' />
                <label class='' for="Anak">Anak</label>
              </div>
              <div class="col-50">
                <input ng-model="vm.data.type_of_abnormality_suffered" value="4" id='Lainnya' type="radio" name='kadaluwarasa' />
                <label class='' for="Lainnya">Lainnya</label>
              </div>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class="row-no-padding">
            <div class="">
              <label class="item-stacked-label">
                <div class="input-label">Pekerjaan</div>
              </label>
            </div>
            <div class="">
              <md-input-container class="md-block mt-0">
                <md-select ng-model="vm.data.work">
                  <md-option ng-repeat="c in vm.works" value="{{c.value}}" ng-selected="$first">{{c.name}}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class="row-no-padding">
            <div class="">
              <label class="item-stacked-label">
                <div class="input-label">Department</div>
              </label>
            </div>
            <div class="">
              <md-input-container class="md-block mt-0">
                <md-select ng-model="vm.data.department">
                  <md-option ng-repeat="d in vm.departments" value="{{d.value}}" ng-selected="$first">{{d.name}}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class="row-no-padding">
            <div class="">
              <label class="item-stacked-label">
                <div class="input-label">Jabatan/ Pangkat / Golongan</div>
              </label>
            </div>
            <div class="">
              <md-input-container class="md-block mt-0">
                <md-select ng-model="vm.data.position">
                  <md-option ng-repeat="p in vm.positions" value="{{p.value}}" ng-selected="$first">{{p.name}}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class="row-no-padding">
            <div class="row">
              <label class="item-stacked-label">
                <span class="input-label">Sumber penghasilan rutin per bulan</span>
              </label>
            </div>
            <div class="row">
              <div class="col-50">
                <ion-checkbox ng-model="vm.regular_income[0].selected">{{vm.regular_income[0].name}}</ion-checkbox>
              </div>
              <div class="col-50">
                <ion-checkbox ng-model="vm.regular_income[1].selected">{{vm.regular_income[1].name}}</ion-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <ion-checkbox ng-model="vm.regular_income[2].selected">{{vm.regular_income[2].name}}</ion-checkbox>
              </div>
              <div class="col-50">
                <ion-checkbox ng-model="vm.regular_income[3].selected">{{vm.regular_income[3].name}}</ion-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <ion-checkbox ng-model="vm.regular_income[4].selected">{{vm.regular_income[4].name}}</ion-checkbox>
              </div>
              <div class="col-50">
               <!-- <ion-checkbox></ion-checkbox>-->
              </div>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class="row-no-padding">
            <div class="row">
              <label class="item-stacked-label">
                <span class="input-label">Sumber penghasilan non rutin per bulan</span>
              </label>
            </div>
            <div class="row">
              <div class="col-50">
                <ion-checkbox ng-model="vm.non_routine_income[0].selected">{{vm.non_routine_income[0].name}}</ion-checkbox>
              </div>
              <div class="col-50">
                <ion-checkbox ng-model="vm.non_routine_income[1].selected">{{vm.non_routine_income[1].name}}</ion-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <ion-checkbox ng-model="vm.non_routine_income[2].selected">{{vm.non_routine_income[2].name}}</ion-checkbox>
              </div>
              <div class="col-50">
                <ion-checkbox ng-model="vm.non_routine_income[3].selected">{{vm.non_routine_income[3].name}}</ion-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <ion-checkbox ng-model="vm.non_routine_income[4].selected">{{vm.non_routine_income[4].name}}</ion-checkbox>
              </div>
              <div class="col-50">
                <ion-checkbox ng-model="vm.non_routine_income[5].selected">{{vm.non_routine_income[5].name}}</ion-checkbox>
              </div>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class="row-no-padding">
            <div class="row">
              <label class="item-stacked-label">
                <div class="input-label">Total Penghasilan rutin per bulan </div>
              </label>
            </div>
            <div class="">
              <md-input-container class="md-block mt-0">
                <md-select ng-model="vm.data.total_earnings_per_month">
                  <md-option ng-repeat="e in vm.earningRanks" value="{{e.value}}" ng-selected="$first">{{e.name}}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class="row-no-padding">
            <div class="row">
              <label class="item-stacked-label">
                <div class="input-label">Total Penghasilan non-rutin per bulan </div>
              </label>
            </div>
            <div class="">
              <md-input-container class="md-block mt-0">
                <md-select ng-model="vm.data.total_non_routine_income_per_month">
                  <md-option ng-repeat="e in vm.earningRanks" value="{{e.value}}" ng-selected="$first">{{e.name}}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class="row-no-padding">
            <div class="row">
              <label class="item-stacked-label">
                <span class="input-label">Tujuan pengajuan Top-Up adalah</span>
              </label>
            </div>
            <div class="row">
              <div class="col-50">
                <ion-checkbox ng-model="vm.purpose_of_top_up_submissions[0].selected" >{{vm.purpose_of_top_up_submissions[0].name}}</ion-checkbox>
              </div>
              <div class="col-50">
                <ion-checkbox ng-model="vm.purpose_of_top_up_submissions[1].selected">{{vm.purpose_of_top_up_submissions[1].name}}</ion-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <ion-checkbox ng-model="vm.purpose_of_top_up_submissions[2].selected" >{{vm.purpose_of_top_up_submissions[1].name}}</ion-checkbox>
              </div>
              <div class="col-50">
                <ion-checkbox ng-model="vm.purpose_of_top_up_submissions[3].selected">{{vm.purpose_of_top_up_submissions[3].name}}</ion-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <ion-checkbox ng-model="vm.purpose_of_top_up_submissions[4].selected">{{vm.purpose_of_top_up_submissions[4].name}}</ion-checkbox>
              </div>
              <div class="col-50">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-assertive">
    <div ng-click="vm.next()" title="Lanjutkan" class="btn">Lanjutkan<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></div>
  </ion-footer-bar>
</ion-view>