<ion-view cache-view="false">
  <ion-nav-title>
    <custom-header title='Calon penerima manfaat asuransi' step='5'></custom-header>
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div class="list list-inset" id='policy_beneficiary'>
      <div class="item" ng-repeat="(index, row) in vm.dataBeneficiary">
        <table style="width:100%">
          <tr>
            <th class='blur-text'>{{index+1}}</th>
            <th>Nama</th>
            <th>Hubungan</th>
            <th>Jenis Kelamin</th>
            <th>Tanggal Lahir</th>
            <th>%</th>
          </tr>
          <tr>
            <td class='' width='15px'></td>
            <td class=''>
              <input type="text" ng-model="row.name">
            </td>
            <td class=''>
                <md-select  ng-model='row.gender' value='WANITA' class='blur-text'>
                  <md-option ng-repeat='value in vm.genderData' ng-value='{{value}}'>
                    {{value}}
                  </md-option>
                </md-select>
            </td>
            <td class=''>
                <md-select  ng-model='row.relationship' class='blur-text'>
                  <md-option ng-repeat='value in vm.relationshipData' ng-value='{{value}}'>
                    {{value}}
                  </md-option>
                </md-select>
            </td>
            <td class=" row row-top blur-text">
                <input type="date" placeholder="DD/MM/YYYY" onblur="(this.type='date')" ng-model="vm.questions.question_2.date_inspection">
              <i class="icon ion-calendar"></i>
            </td>
            <td class='' width='10%'><input type='input' placeholder="%" ng-model="row.share" /></td>
          </tr>
          <tr>
            <td colspan="5">
              <span class="error-message">! Silakan memasukkan angka kelipatan 5 contoh: 5,10,15..100 </span>
            </td>
          </tr>
        </table>
      </div>
      <div class="item">
        <button class="button button-stable button-block float-right col-95" ng-click="vm.addRow()">+ Tambah Penerima Manfaat Asuransi</button>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar ng-show="true" class="bar bar-footer bar-assertive">
    <a ng-click="vm.handleSubmit()" title="Lanjutkan" class="btn">Lanjutkan<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </ion-footer-bar>
</ion-view>