<ion-view cache-view="false">
  <ion-nav-title>
    <custom-header title='Calon penerima manfaat asuransi' step='5'></custom-header>
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div class="list list-inset" id='policy_beneficiary'>
      <form name="myForm">
        <ul>
          <li class="m-gap-30" ng-repeat="(index, row) in vm.dataBeneficiary" ng-init="vm.isValidated[$index]=true">
            <div class="clearfix">
              <div class="float-left col-5 col-padding"><span class="row-number">{{$index + 1}}</span></div>
              <div class="float-left col-95">
                <div class="row row-no-padding">
                  <div class="col col-33 col-padding">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Nama</label>
                      <input type="text" ng-model="row.name" required ng-blur="vm.validateRow(row,$index)" />
                    </md-input-container>
                  </div>
                  <div class="col col-33 col-padding">
                    <md-input-container class="md-block">
                      <label>Hubungan </label>
                      <md-select ng-init="gender={}" ng-model='gender' ng-model-options="{trackBy: '$value.id'}"  class='blur-text' md-on-close="row.gender=gender.name; vm.validateRow(row,$index)" required >
                        <md-option ng-repeat='value in vm.genderData' ng-value='{{value}}'>
                          {{value.name}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div class="col col-33 col-padding">
                    <md-input-container class="md-block">
                      <label>Jenis Kelamin</label>
                      <md-select ng-init="relationship={}" ng-model='relationship' class='blur-text' md-on-close="row.relationship = relationship.name; vm.validateRow(row,$index)" required>
                        <md-option ng-repeat='value in vm.relationshipData' ng-value='{{value}}' >
                          {{value.name}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
                <div class="row row-no-padding">
                  <div class="col col-75 col-padding">
                    <md-input-container>
                      <label>Tanggal Lahir</label>
                      <input type="date" placeholder="DD/MM/YYYY" ng-model="row.birthday" ng-blur="vm.validateRow(row, $index)" required>
                      <!--<md-datepicker ng-model="vm.questions.question_2.date_inspection" name="dateField" md-placeholder="DD/MM/YYYY" md-open-on-focus ng-blur="vm.validateRow(row)" required></md-datepicker>-->
                    </md-input-container>
                  </div>
                  <div class="col col-25 col-padding">
                    <md-input-container class="md-block" flex-gt-sm >
                      <label>%</label>
                      <input type="number" ng-model="row.share" ng-blur="vm.validateRow(row, $index)" required/>
                    </md-input-container>
                  </div>
                </div>
              </div>
            </div>
            <div class="errors" ng-if="!vm.isValidated[$index]" >
              <div><span class="error-message">! {{vm.isValidated[$index]}} {{$index}}Input salah, silakan masukkan huruf, Silakan memasukkan angka kelipatan 5 i.e: 5,10,15..100 </span></div>
            </div>
          </li>
        </ul>
        <div class="item">
          <button class="button button-stable button-block float-right col-95" ng-click="vm.addRow()">+ Tambah Penerima Manfaat Asuransi</button>
        </div>
      </form>
    </div>
  </ion-content>
  <ion-footer-bar ng-show="true" class="bar bar-footer bar-assertive">
    <a ng-click="vm.handleSubmit()" title="Lanjutkan" class="btn">Lanjutkan<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </ion-footer-bar>
</ion-view>