<ion-view cache-view="false" view-title="Kelengkapan dokumen">
  <ion-content>
    <step-process></step-process>
    <div class="header-tab">
      <div class='row tab-menu' >
        <span class='col' ng-repeat="tab in vm.tabs" ng-class="vm.currentTab==tab.value? 'active': ''">{{ tab.title}}</span>
      </div>
    </div>

    <div class="wrapper has-bottom-bar upload-document-page mt-30">
      <div ng-if="vm.currentTab=='premiums'" ng-include="'views/spaj/policy/step5/document_upload_premiums.html'"></div>
      <div ng-if="vm.currentTab=='policy_holders'" ng-include="'views/spaj/policy/step5/document_upload_policy_holders.html'"></div>
      <div ng-if="vm.currentTab=='additional_insured'" ng-include="'views/spaj/policy/step5/document_upload_additional_insured.html'"></div>
    </div>

  </ion-content>
</ion-view>
<div ng-show="true" class="bar bar-footer bar-assertive">
  <a title="Continue" class="btn">Next<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
</div>
