<ion-view cache-view="false" view-title="Sebelum Anda melanjutkan" id="spaj-start">
  <ion-nav-title>
    Sebelum Anda melanjutkan
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div class='row tab-menu'>
      <span class='col' ng-click='switchTab(policy_holder_tab)' ng-class='currentTab===policy_holder_tab?"active":""'>Pemegang Polis - Tertanggung Utama</span>
      <span class='col' ng-repeat='tab in additionalList' ng-click='switchTab(tab.id)' ng-class='currentTab===tab.id?"active":""'>{{tab.name}}</span>
      <span ng-if='additionalList.length<2' class='col blur-text' ng-click='addAdditionalTab()'>+ Tertanggung Tambahan</span>
    </div>
    <insured-home insured-data='{{policy_holder_tab}}' ng-show='currentTab===policy_holder_tab'></insured-home>
    <insured-home ng-repeat='tab in additionalList' insured-data='{{tab.id}}' ng-show='currentTab===tab.id' ng-class='currentTab===tab.id?"active":""'></insured-home>
  </ion-content>
</ion-view>
<div ng-show="true" class="bar bar-footer bar-assertive">
  <a ng-click="nextClickHandle()" title="Continue" class="btn">Next<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
</div>