<ion-view cache-view="false" view-title="Sebelum Anda melanjutkan" id="spaj-start">
  <ion-nav-title>
    <custom-header title='Sebelum Anda melanjutkan' step='1'></custom-header>
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div id="SPAJ">
      <div class='row tab-menu'>
        <div class='col blur-text' ng-disabled><span class="d-table"><span class="d-table-cell">Pemegang Polis</span></span>
        </div>
        <div class='col' ng-click='switchTab(main_insured_tab)' ng-class='currentTab===main_insured_tab?"active":""'><span class="d-table"><span class="d-table-cell">Tertanggung Utama</span></span>
        </div>
        <div class='col' ng-repeat='tab in additionalList' ng-click='switchTab(tab.id)' ng-class='currentTab===tab.id?"active":""'><span class="d-table"><span class="d-table-cell">{{tab.name}}</span></span>
        </div>
        <div ng-if='additionalList.length<2' class='col blur-text' ng-click='addAdditionalTab()'><span class="d-table"><span class="d-table-cell">+ Tertanggung Tambahan</span></span>
        </div>
      </div>
    </div>
    </div>
    <div ng-show='currentLayout === main_layout'>
      <insured-home insured-data='{{main_insured_tab}}' ng-show='currentTab===main_insured_tab'></insured-home>
      <insured-home ng-repeat='tab in additionalList' insured-data='{{tab.id}}' ng-show='currentTab===tab.id' ng-class='currentTab===tab.id?"active":""'></insured-home>
    </div>
    <div ng-show='currentLayout === active_insured_layout' ng-include="'views/spaj/policy/step1/active_insurance.html'"></div>

  </ion-content>
</ion-view>
<ion-footer-bar class="bar bar-footer bar-assertive">
  <div class="btn" ng-click="nextClickHandle()">Lanjutkan</div><button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button>
</ion-footer-bar>