<ion-view cache-view="false" id="spaj-start">
  <ion-nav-title>
    <custom-header title='Sebelum Anda melanjutkan' step='1'></custom-header>
  </ion-nav-title>
  <ion-content>
    <step-process></step-process>
    <div id="SPAJ">
      <div class='row tab-menu'>
        <div class='col blur-text' ng-disabled><span class="d-table"><span class="d-table-cell">Pemegang Polis</span></span>
        </div>
        <div class='col' ng-click='vm.switchTab(vm.main_insured_tab)' ng-class='vm.currentTab===vm.main_insured_tab?"active":""'><span class="d-table"><span class="d-table-cell">Tertanggung Utama</span></span>
        </div>
        <div class='col' ng-repeat='tab in vm.additionalList track by $index' ng-click='vm.switchTab(tab.id, tab.index)' ng-class='vm.currentTab===tab.id?"active":""'><span class="d-table"><span class="d-table-cell">{{tab.name}}</span></span>
        </div>
        <div ng-if='vm.additionalList.length<2' class='col blur-text' ng-click='vm.addAdditionalTab()'><span class="d-table"><span class="d-table-cell">+ Tertanggung Tambahan</span></span>
        </div>
      </div>
    </div>
    </div>
    <div ng-show='vm.currentLayout === vm.main_layout'>
      <insured-home insured-data='{{vm.main_insured_tab}}' ng-show='vm.currentTab===vm.main_insured_tab'  on-swipe-left='vm.handleMainTabSwipe()'></insured-home>
      <insured-home ng-repeat='tab in vm.additionalList track by $index' insured-data='{{tab.id}}' ng-show='vm.currentTab===tab.id' ng-class='vm.currentTab===tab.id?"active":""' on-swipe='vm.handleAddedTabSwipe($event)'></insured-home>
    </div>
   
  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-assertive">
    <div class="btn" ng-click="vm.nextClickHandle()">Lanjutkan</div><button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button>
  </ion-footer-bar>
</ion-view>