<ion-view cache-view="false" view-title="Sebelum melakukan pengajuan" id="spaj-esignature-confirmation">
  <ion-content class="has-footer has-header">
    <div class="wrapper text-center has-bottom-bar padding-bottom">
      <div ng-if="vm.healthFormValidStatus.is_checked && vm.healthFormValidStatus.null_properties.length <= 5" ng-include="'views/spaj/policy/reminder_step/reminder_lessthan_5_incomplete.html'"></div>
      <div ng-if="vm.healthFormValidStatus.is_checked && vm.healthFormValidStatus.null_properties.length > 5" ng-include="'views/spaj/policy/reminder_step/reminder_morethan_5_incomplete.html'"></div>
      <div ng-if="!vm.healthFormValidStatus.is_checked">
        <p>Error getting health data</p>
      </div>
    </div>
  </ion-content>
</ion-view>
<ion-footer-bar ng-show="true" class="bar bar-footer bar-assertive no-padding no-lines">
  <a title="Continue" ng-click="vm.review()" class="btn">Ingatkan saya<button class="button button-clear"></button></a>
  <a title="Continue" ng-click="vm.submit()" class="btn" ng-class="vm.healthFormValidStatus.null_properties.length > 5 ? 'gray-btn': ''">{{vm.healthFormValidStatus.null_properties.length}}Submit<button class="button button-clear"></button></a>
</ion-footer-bar>