<div class="container">
    <div class="list mt-50">
        <div class="item no-lines">
            <div class="description text-center">
                Anda memiliki {{vm.inCompleteData.totalMissing}} data yang belum dilengkapi.</br></br>
                Mohon melakukan pengecekan ulang sebelum Anda melanjutkan e-submission
            </div>
        </div>
        <!--end item-->
        <div ng-if="vm.healthFormValidStatus.null_properties.length > 0">
            <div class="item no-lines">
                <div class="title text-center">
                    <h1>List data yang belum dilengkapi</h1>
                </div>
            </div>
            <!--end item-->
            <div class="no-lines half-width-center text-left">
                <div ng-repeat='list in vm.inCompleteList' class='missing-reminder'>
                    <span class='missing-title' ng-click='vm.toggle(list.id)' ng-class='vm.showData[list.id]?"close":"open"'>{{list.name}}</span>
                    <div class='missing-content' ng-show='vm.showData[list.id]'>
                        <span ng-repeat="(index, item) in list.data">{{index+1}}. {{item}}</br></span>
                    </div>
                </div>
            </div>
        </div>
        <!--end item-->
    </div>
</div>