<div class="container">
  <div class="list mt-50">
    <div class="item no-lines">
      <div class="description text-center">
        Kami membutuhkan sedikit informasi dan dokumen lagi </br>
        Sebelum kami dapat mengajukan polis ini untuk </br>
        mendapatkan persetujuan.
      </div>
    </div>
    <!--end item-->
    <div ng-if="vm.healthFormValidStatus.null_properties.length > 0">
      <div class="item no-lines">
        <div class="title text-center">
          <h1>Informasi lain yang perlu diisi</h1>
        </div>
      </div>
      <!--end item-->
      <div class="item no-lines half-width-center custom-checkbox">
        <ion-list>
          <ion-checkbox ng-repeat="item in vm.healthFormValidStatus.null_properties" ng-model="vm.data.null_properties[item]">{{vm.getDisplayText(item)}}</ion-checkbox>
        </ion-list>
      </div>
    </div>
    <!--end item-->
    <div class='item no-lines'>
      <div class="row no-padding">
        <div class="col">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-model="vm.data.email">
          </md-input-container>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <!--end item-->
    <div class='item no-lines policy-item' ng-repeat="(index, item) in vm.data.policy">
      <div class="row row-no-padding mb-20">
        <div class="col">
          <md-input-container class="select-box">
            <label class="input-label">Jenis asuransi yang ada</label>
            <md-select ng-model="vm.type_of_insurances">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="i in vm.const.type_of_insurances" ng-value="i.value">
                {{i.type}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Perusahaan</label>
            <input ng-model="user.name" />
          </md-input-container>
        </div>
        <div class="col">
          <md-input-container class="select-box">
            <label class="input-label">Uang Pertanggungan</label>
            <md-select ng-model="vm.type_of_currencies">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="c in vm.const.type_of_currencies" ng-value="c.value">
                {{c.type}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
      <div class="row row-no-padding responsive-sm mini-center-container radio-block">
        <div class="col-30">
          <span>Apakah itu polis Substandard?</span>
        </div>
        <div class="col-70">
          <div class="radio-btn-group">
            <input ng-model="item.is_substandard" class='custom_radio' type="radio" value="true" name="substandard_{{index}}" id="substandard_{{index}}"
            />
            <label class='' for="substandard_{{index}}">Yes</label>
          </div>
          <div class="radio-btn-group">
            <input ng-model="item.is_substandard" class='custom_radio' type="radio" value="false" name="not_substandard_{{index}}" id="not_substandard_{{index}}"
            />
            <label class='' for="not_substandard_{{index}}">No</label>
          </div>
        </div>
      </div>
    </div>
    <!--end item-->
    <div class='item no-lines'>
      <div class="row ">
        <button class="button value-btn add-policy-btn" ng-click="vm.addPolicy()">+ Tambah Polis</button>
      </div>
    </div>
    <!--end item-->
  </div>
</div>